
<!-- Start of element extensions -->
<template name="elementExtensions">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">	
			<form role="form">
				<div class="form-group">
					<label for="beforeCreateElement">beforeCreateElement</label>
					<input type="text" class="form-control dialog-input" id="beforeCreateElement" value="{{beforeCreateElement}}">
				</div>
            </form>
        </div>
		<div class="col-sm-6 col-md-6 col-lg-6">	
			<form role="form">       
		        <div class="form-group">
					<label for="afterCreateElement">afterCreateElement</label>
					<input type="text" class="form-control dialog-input" id="afterCreateElement" value="{{afterCreateElement}}">
				</div>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">	
			<form role="form">
				<div class="form-group">
					<label for="createElement">createElement</label>
					<input type="text" class="form-control dialog-input" id="createElement" value="{{createElement}}">
				</div>
            </form>
        </div>
		<div class="col-sm-6 col-md-6 col-lg-6">	
			<form role="form">       
		        <div class="form-group">
					<label for="resizeElement">resizeElement</label>
					<input type="text" class="form-control dialog-input" id="resizeElement" value="{{resizeElement}}">
				</div>
			</form>
		</div>
	</div>
</template>
<!-- End of element extensions -->
