<template name="sparqlForm">

    <div id="diagram-footer-a" class="col-sm-12 col-md-12 col-lg-12" style="margin-top:10px;padding-left:2px;">
      <ul class="nav nav-tabs" id="vq-tab">
          <li class="active"><a data-toggle="tab" href="#sparql">SPARQL</a></li>
          <li><a data-toggle="tab" href="#executed">Results</a></li>
          <!--<li class="disabled"><a data-toggle="tab" href="#">Messages</a></li>-->
      </ul>
      <div class="tab-content">
          <div id="executed" class="tab-pane fade">
            {{#with executedSparql}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{#if limit_set}} Only 50 rows shown. Total number of rows: {{number_of_rows}}. {{/if}}
					{{#if waiting}} Executes the query, waiting for results...{{/if}}
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-condensed table-hover table-striped">
                                    <thead>
                                        <tr>
                                          <th>#</th>
                                          {{#each sparql.head.[0].variable}}
                                             <th>{{$.name}}</th>
                                          {{/each}}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each augmentedResult}}
                                            <tr index="{{plusOne @index}}">
                                                <td style="width:3%;"><div class="toolbar-item" attribute="item" contentEditable="true">{{plusOneOffset @index parent.offset}}</div></td>
                                                {{#each binding}}
                                                {{#if literal}}
                                                  {{#if literal.[0]._}}
                                                <td><div class="toolbar-item" attribute="item" contentEditable="true">{{literal.[0]._}}</div></td>
                                                  {{else if literal.[0].$}}
                                                <td><div class="toolbar-item" attribute="item" contentEditable="true"></div></td>
												{{else}}
                                                <td><div class="toolbar-item" attribute="item" contentEditable="true">{{literal.[0]}}</div></td>
                                                  {{/if}}
                                                {{else}}
                                                  {{#if uri}}
                                                    <td><div class="toolbar-item" attribute="item"><a href="{{uri.[0]}}" target="_blank">{{uri.[0]}}</a></div></td>
                                                  {{else}}
                                                    <td><div class="toolbar-item" attribute="item" contentEditable="true"></div></td>
                                                  {{/if}}
                                                {{/if}}
                                                {{/each}}
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                            {{#if limit_set}}
                              {{#if showPrev offset}}<button id="prev-sparql" class="btn btn-success btn-sm">Previous 50</button>{{/if}}
                              {{#if showNext offset number_of_rows}}<button id="next-sparql" class="btn btn-success btn-sm">Next 50</button>{{/if}}
                              <button id="download-results" class="btn btn-danger btn-sm">Download All</button>
                            {{else}}
                              <button id="download-results" class="btn btn-warning btn-sm">Download</button>
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
          </div>
          <div id="sparql" class="tab-pane fade in active">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="row">
                        <form>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <textarea id="generated-sparql3" class="form-control" rows="5"></textarea>
                                    <!-- <textarea id="generated-sparql" class="form-control" rows="5">{{generatedSparql}}</textarea> -->
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12" style="margin-top:10px;">
                                    <button id="reset-sparql" class="btn btn-danger btn-sm">Reset</button>
                                    <button id="execute-sparql" class="btn btn-success btn-sm">Execute</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </div>


    </div>
</template>

<template name="sparqlForm_see_results">

    <div id="diagram-footer-b" class="col-sm-12 col-md-12 col-lg-12" style="padding-left:2px;margin-top:5px;">
            <div class="panel panel-default">
              <div class="panel-heading">
                  SPARQL
              </div>
              <div class="panel-body">

                    <div class="row">
                        <form>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <!--<textarea id="generated-sparql2" class="form-control" rows="12">{{generatedSparql}}</textarea>-->
                                    <textarea id="generated-sparql" class="form-control" rows="12"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12" style="margin-top:10px;">
                                    <button id="reset-sparql" class="btn btn-danger btn-sm">Reset</button>
                                    <button id="execute-sparql" class="btn btn-success btn-sm">Execute</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          {{#with executedSparql}}
          <div class="panel panel-default">
              <div class="panel-heading">
                  Results: {{#if limit_set}} Only 50 rows shown.{{/if}} Total number of rows: {{number_of_rows}}.
              </div>

              <div class="panel-body">

                  <div class="row">
                      <div class="col-sm-12 col-md-12">
                          <div class="table-responsive">
                              <table class="table table-bordered table-condensed table-hover table-striped">
                                  <thead>
                                      <tr>
                                        <th>#</th>
                                        {{#each sparql.head.[0].variable}}
                                           <th>{{$.name}}</th>
                                        {{/each}}
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {{#each augmentedResult}}
                                          <tr index="{{plusOne @index}}">
                                              <td style="width:3%;"><div class="toolbar-item" attribute="item" contentEditable="true">{{plusOneOffset @index parent.offset}}</div></td>
                                              {{#each binding}}
                                              {{#if literal}}
                                                {{#if literal.[0]._}}
                                              <td><div class="toolbar-item" attribute="item" contentEditable="true">{{literal.[0]._}}</div></td>
                                                {{else}}
                                              <td><div class="toolbar-item" attribute="item" contentEditable="true">{{literal.[0]}}</div></td>
                                                {{/if}}
                                              {{else}}
                                                {{#if uri}}
                                                  <td><div class="toolbar-item" attribute="item"><a href="{{uri.[0]}}" target="_blank">{{uri.[0]}}</a></div></td>
                                                {{else}}
                                                  <td><div class="toolbar-item" attribute="item" contentEditable="true"></div></td>
                                                {{/if}}
                                              {{/if}}
                                              {{/each}}
                                          </tr>
                                      {{/each}}
                                  </tbody>
                              </table>
                          </div>
                          {{#if limit_set}}
                            {{#if showPrev offset}}<button id="prev-sparql" class="btn btn-success btn-sm">Previous 50</button>{{/if}}
                            {{#if showNext offset number_of_rows}}<button id="next-sparql" class="btn btn-success btn-sm">Next 50</button>{{/if}}
                          {{/if}}
                      </div>
                  </div>
              </div>
          </div>
          {{/with}}

    </div>
</template>
