
<template name="VQ_DSS_schema">


	<!-- Modal for new document -->
    <div id="VQ-DSS-schema" class="modal fade" data-backdrop="static" data-keyboard="false">
        
        <div class="modal-dialog" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">DSS schema <b>{{info_schema}}</b> has {{classCountAll}} ({{classCountFiltered}} filtered ) classes.</h4>
					{{#if isBig }}
					{{else}}

					<ul class="nav nav-tabs" id="vq-tab">
						  <li class="active"><a data-toggle="tab" href="#VQ-DSS-main">Classes and properties</a></li>
						  {{#if pub}}
						  {{else}}
						  <li><a data-toggle="tab" href="#todo">Groups</a></li>
						  <li><a data-toggle="tab" href="#support">Support</a></li>
						  {{/if}}
					  </ul>
					  <div class="tab-content" style="overflow:auto; height:800px;">
						
						  <div id="VQ-DSS-main" class="tab-pane fade in active">
							<div class="explain-form-group" style="padding-bottom:1px;">
							   <span>Class list filters:</span>
							</div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<div class="slidecontainer" style="width: 400px;">
											<p><span id="classCount-slider-span"> </span>Classes in the diagram - {{classCountSelected}} from {{classCountForSlider}}</p>
											<input type="range" min="0" max={{classCountForSlider}} value={{classCountSelected}} class="slider" id="classCount"  {{filterDisabled}}>
										</div>
										
										<select class="form-control" id="nsFilter" {{filterDisabled}} style="width: 400px;">
											{{#each nsFilters}}
												<option style="height:30px" {{selected}} value="{{value}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-sm-6">
										<select class="form-control" id="sortPar" style="width: 400px;">
											<option selected value=1 >Sort by class weight</option>
											<option value=3 >Sort by count of class individuals</option>
											<option value=4 >Sort by count of incoming properties</option>
											<option value=2 >Sort by namespaces</option>
										</select>
									</div>
								</div>
							</div>
							<div class="explain-form-group">
								<span>  </span>
							 </div>
							<div class="explain-form-group">
							   <span>Manual class list selection</span>
									<label class="form-check-label">
										<input class="form-check-input" id="manual" name="manual" index = 1 type="checkbox" >
										<span class="custom-checkbox"></span>
									</label>
							</div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<label>Selected classes ({{classCountSelected}})</label>
									</div>
									<div class="col-sm-6">
										<label>Rest classes ({{classCountRest}})</label>
									</div>
								</div>
							</div>	
							
							<div class="container-fluid">
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="selectedClasses" size="15" multiple aria-label="multiple select 1" style="width: 400px;">
											{{#each classes}}
												<option value="{{id}}" {{selected}}>{{display_name}} </option>
											{{/each}}
										</select>						
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<button id="removeSelected" type="button" class="btn btn-primary"  {{manualDisabled}}>&rarr;</button>
										<button id="addSelected" type="button" class="btn btn-primary" {{manualDisabled}}>&larr;</button>
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="restClasses" size="15" multiple aria-label="multiple select 2" style="width: 400px;">
											{{#each restClasses}}
												<option value="{{id}}" {{selected}}>{{display_name}}</option>
											{{/each}}
										</select>					
									</div>
							</div>

							<div class="form-group">
								<button id="getProperties" type="button" class="btn btn-primary">Show all properties</button>
							</div>							
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<label>Selected properties ({{propCount}})</label>
									</div>
									<div class="col-sm-6">
										<label>Rest properties ({{propCountRest}})</label>
									</div>
								</div>
							</div>				

							<div class="container-fluid">
								<div style="display: inline-block; vertical-align:top;">
									<select class="form-select" id="selectedProperties" multiple size="15" style="width: 400px;">
										{{#each properties}}
											<option value="{{id}}">{{p_name}} </option>
										{{/each}}
									</select>						
								</div>
								<div style="display: inline-block; vertical-align:top;">
									<button id="removeSelectedProp" type="button" class="btn btn-primary" >&rarr;</button>
									<button id="addSelectedProp" type="button" class="btn btn-primary">&larr;</button>
								</div>
								<div style="display: inline-block; vertical-align:top;">
									<select class="form-select" id="restProperties" multiple size="15"  style="width: 400px;">
										{{#each restProperties}}
											<option value="{{id}}">{{p_name}}</option>
										{{/each}}
									</select>					
								</div>
							</div>


							<div class="container-fluid">
								<div class="row">
									<!-- <div class="col-sm-6"> -->
										<!-- <div class="form-group"> -->
											<!-- <button id="makeDiagr" type="button" class="btn btn-primary" data-dismiss="modal">Save diagram data</button> -->
										<!-- </div> -->
									<!-- </div> -->
									<div class="col-sm-6">

									</div>
								</div>
							</div>	
						  </div>
						  <!-- //////////////////////////////////////// -->
						  <div id="todo" class="tab-pane fade">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-3">
											<label>Ko dara ar shēmas vispārināšanām:</label>
										</div>
										<div class="col-sm-6">
											<select class="form-control" id="supPar" style="width:300px" >
												<option select value=1 >Savelk kopā vispārināšanas virknes</option>
												<option value=0 >Atstāj Shēmas vispārināšanas</option>
												<option value=2 >Savelk kopā Shēmas vispārināšanas</option>
											</select>
										</div>
									</div>	
								</div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-3">
											<label>Klašu grupēšanas parametrs: </label>
										</div>
										<div class="col-sm-6">
											<select class="form-control" id="diffG" style="width:300px" >
												<option value=0 >Without grouping</option>
												<option value=1 >Very weak grouping (diff-1) </option>
												<option value=2 >Weak grouping (diff-1,2) </option>
												<option selected value=5 >Basic grouping (diff under 5)</option>
												<option value=10 >Strong grouping (diff under 10) </option>
											</select>
										</div>
									</div>	
								</div>
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-3">
											<label>Abstrakto klašu veidošana: </label>
										</div>
										<div class="col-sm-6">
											<select class="form-control" id="diffS" style="width:300px"  >
												<option value=-1 >Without superclasses </option>
												<option value=5 >Zems līdzības līmenis veidojot virsklases</option>
												<option value=25 >Vidējs līdzības līmenis veidojot virsklases</option>
												<option selected value=50 >Augsts līdzības līmenis veidojot virsklases</option>
											</select>

										</div>
									</div>	
									<div class="form-group">
										<button id="showClassess" type="button" class="btn btn-primary">Show initial classes and properties</button>
									</div>
								</div>
								<span>Class count- {{classCountUsed}}, groups - {{classCountGroups}} </span>
								<div class="container-fluid">
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="usedClasses" size="30" style="width: 300px;">
											{{#each usedClasses}}
												<option value={{id}} {{selected}}> {{display_name}} </option>
											{{/each}}
										</select>						
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="subClasses" size="30" style="width: 300px;">
											{{#each subClasses}}
												<option value={{id}} {{selected}}>{{display_name}}</option>
											{{/each}}
										</select>					
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="classProperties" size="30" multiple style="width: 300px;">
											{{#each classProperties}}
												<option value={{id}} {{selected}}>{{display_name}}</option>
											{{/each}}
										</select>					
									</div>
								</div>
								<div class="container-fluid">
									<div class="form-group">
										<button id="showGroups" type="button" class="btn btn-primary">Show groups -(skos:altLabel,skos:prefLabel,rdf:type)</button>
									</div>
									<!--<div class="slidecontainer"  style="width: 300px;"> -->
									<!--	<p>Abstraktās virsklases <span id="diffS-slider-span">50</span></p> -->
									<!--	<input type="range" min="-1" max="50" value="50" class="slider" id="diffS"> -->
									<!--  </div> -->
								</div>
						  </div>

						  <div id="support" class="tab-pane fade">
							<div class="explain-form-group">
								<span>  </span>
							 </div>
							 <div class="explain-form-group">
								<span>Diagram parameters:</span>
							 </div>  
							 <select class="form-control" id="disconnBig" style="width: 400px;">
								<option selected value=7 >Disconnect prop > 7 </option>
								<option value=10 >Disconnect prop > 10 </option>
								<option value=0 >Show all properties</option>
							</select>
							<label class="form-check-label">
								<input class="form-check-input" name = "compView" id="compView" type="checkbox" checked = "checked">
								<span class="custom-checkbox"></span>
								Compact attribute view
							</label>
							<label class="form-check-label">
								<input class="form-check-input" name = "addIds" id="addIds" type="checkbox">
								<span class="custom-checkbox"></span>
								Show DB IDs in names
							</label>
							<div class="form-group">
								<button id="printGroups" type="button" class="btn btn-primary" data-dismiss="modal">Print groups</button>
							</div>
							<div class="form-group">
								<button id="printDiffs" type="button" class="btn btn-primary" data-dismiss="modal">Print diffs</button>
							</div>

						  </div>
					  </div>
					{{/if}}
                </div>

                <div class="modal-footer" style="clear: both;">
					{{#if pub}}
					{{else}}
						<button id="makeDiagrAJOO" type="button" class="btn btn-primary" data-dismiss="modal">Save diagram data (AJOO)</button>
					{{/if}}
					<button id="makeDiagr" type="button" class="btn btn-primary" data-dismiss="modal">Save diagram data</button>
                    <button id="cancel-VQ-DSS-schema" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>	
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

   
</template>
