
<template name="VQ_DSS_schema">


	<!-- Modal for new document -->
    <div id="VQ-DSS-schema" class="modal fade" data-backdrop="static" data-keyboard="false">
        
        <div class="modal-dialog" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header" style="overflow:scroll;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">DSS schema <b>{{info_schema}}</b> has {{classCountAll}} ({{classCountFiltered}} filtered ) classes and {{propCountAll}} properties.</h4>
					{{#if isBig }}
					{{else}}

					<ul class="nav nav-tabs" id="vq-tab" style="padding-top:10px;">
						  <li class="active"><a data-toggle="tab" href="#VQ-DSS-main">Classes and properties</a></li>
						  <li><a data-toggle="tab" href="#paremeters">Class merging parameters</a></li>
						  {{#if pub}}
						  {{else}}
						  <li><a data-toggle="tab" href="#support">Support</a></li>
						  {{/if}}
					</ul>
					  <div class="tab-content" style="overflow:auto;">
						
						  <div id="VQ-DSS-main" class="tab-pane fade in active">
							<div class="explain-form-group" style="padding-bottom:5px; padding-top:10px;">
								<span class="label label-default" style="font-size:15px; background-color:transparent;">Class list filters:</span>
							</div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<div class="slidecontainer" style="width: 400px; padding-bottom:10px;">
											<p><span id="classCount-slider-span"> </span> Classes in the diagram - {{classCountSelected}} from {{classCountForSlider}}</p>
											<input type="range" min="0" max={{classCountForSlider}} value={{classCountSelected}} class="slider" id="classCount"  {{filterDisabled}}>
										</div>
										
										<select class="form-control" id="nsFilter" {{filterDisabled}} style="width: 400px;">
											{{#each nsFilters}}
												<option style="height:30px" {{selected}} value="{{value}}">{{name}}</option>
											{{/each}}
										</select>
									</div>
									<div class="col-sm-6">
										<select class="form-control" id="sortPar" style="width: 400px;">
											<option selected value=1 >Sort classes by class weight</option>
											<option value=3 >Sort classes by count of class individuals</option>
											<option value=4 >Sort classes by count of incoming triples</option>
											<option value=2 >Sort classes by namespaces</option>
										</select>
										<span>Class weight = (class individuals) + (incoming triples)^(5/6)</span>
										<div class="slidecontainer" style="width: 400px; padding-top:10px;">
											<p><span id="propCount-slider-span"> </span>. Properties in the diagram - {{propCount}}</p>
											<input type="range" min={{propSliderMin}} max={{propSliderMax}} value={{propSliderSelected}} class="slider" id="propSlider" {{filterDisabled}} >
										</div>	
									</div>
								</div>
							</div>
							<div class="explain-form-group">
								<span>  </span>
							 </div>
							<div class="explain-form-group" style="padding-top:20px;">
								<span class="label label-default" style="font-size:15px; background-color:transparent;">Manual classes and properties selection</span>
									<label class="form-check-label">
										<input class="form-check-input" id="manual" name="manual" index = 1 type="checkbox" >
										<span class="custom-checkbox"></span>
									</label>
							</div>
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<label>Selected classes ({{classCountSelected}})</label>
									</div>
									<div class="col-sm-6">
										<label>Rest classes ({{classCountRest}})</label>
									</div>
								</div>
							</div>	
							
							<div class="container-fluid">
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="selectedClasses" size="17" multiple aria-label="multiple select 1" style="width: 400px;">
											{{#each classes}}
												<option value="{{id}}" {{selected}}>{{display_name}} </option>
											{{/each}}
										</select>						
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<button id="removeSelected" type="button" class="btn btn-primary"  {{manualDisabled}}>&rarr;</button>
										<button id="addSelected" type="button" class="btn btn-primary" {{manualDisabled}}>&larr;</button>
									</div>
									<div style="display: inline-block; vertical-align:top;">
										<select class="form-select" id="restClasses" size="17" multiple aria-label="multiple select 2" style="width: 400px;">
											{{#each restClasses}}
												<option value="{{id}}" {{selected}}>{{display_name}}</option>
											{{/each}}
										</select>					
									</div>
							</div>

							<!--<div class="container-fluid"> -->
							<!--	<div class="row"> -->
							<!--		<div class="col-sm-6"> -->
	
							<!--		</div> -->
							<!--		<div class="col-sm-6"> -->
							<!--			<button id="getProperties" type="button" class="btn btn-primary" >Show all properties</button> -->
							<!--		</div> -->
							<!--	</div> -->
							<!--</div>	-->						
							<div class="container-fluid">
								<div class="row">
									<div class="col-sm-6">
										<label>Selected properties ({{propCount}})</label>
									</div>
									<div class="col-sm-6">
										<label>Rest properties ({{propCountRest}})</label>
									</div>
								</div>
							</div>				

							<div class="container-fluid">
								<div style="display: inline-block; vertical-align:top;">
									<select class="form-select" id="selectedProperties" multiple size="15" style="width: 400px;">
										{{#each properties}}
											<option value="{{id}}">{{p_name}} </option>
										{{/each}}
									</select>						
								</div>
								<div style="display: inline-block; vertical-align:top;">
									<button id="removeSelectedProp" type="button" class="btn btn-primary" {{manualDisabled}}>&rarr;</button>
									<button id="addSelectedProp" type="button" class="btn btn-primary" {{manualDisabled}}>&larr;</button>
								</div>
								<div style="display: inline-block; vertical-align:top;">
									<select class="form-select" id="restProperties" multiple size="15"  style="width: 400px;">
										{{#each restProperties}}
											<option value="{{id}}">{{p_name}}</option>
										{{/each}}
									</select>					
								</div>
							</div>


							<div class="container-fluid">
								<div class="row">
									<!-- <div class="col-sm-6"> -->
										<!-- <div class="form-group"> -->
											<!-- <button id="makeDiagr" type="button" class="btn btn-primary" data-dismiss="modal">Save diagram data</button> -->
										<!-- </div> -->
									<!-- </div> -->
									<div class="col-sm-6">

									</div>
								</div>
							</div>	
						  </div>
						  <!-- //////////////////////////////////////// -->
						  <div id="paremeters" class="tab-pane fade">
								<div class="container-fluid">
									<div class="row">
										<div class="col-sm-4">
											<div class="slidecontainer" style="padding-bottom:10px; padding-top:10px;">
												<p><span id="classCount-slider-span2"> </span> Classes in the diagram - {{classCountSelected}} from {{classCountForSlider}}</p>
												<input type="range" min="0" max={{classCountForSlider}} value={{classCountSelected}} class="slider" id="classCount2"  {{filterDisabled}}>
											</div>
											<select class="form-control" id="diffG" style="width:300px" >
												<option value=0 >Without merging</option>
												<option value=1 >Merge equivalent classes</option>
												<option value=2 >Weak merging</option>
												<option selected value=5 >Basic merging</option>
												<option value=10 >Strong merging</option>
											</select>
											<label class="form-check-label" style="padding-bottom:10px; padding-top:10px;">
												<input class="form-check-input" name = "abstr" id="abstr" type="checkbox">
												<span class="custom-checkbox"></span>
												Make abstract superclasses 
											</label>
										</div>
										<div class="col-sm-4">
											<div class="slidecontainer" style="padding-bottom:10px; padding-top:10px;">
												<p><span id="propCount-slider-span2"> </span>. Properties - {{propCount}}</p>
												<input type="range" min={{propSliderMin}} max={{propSliderMax}} value={{propSliderSelected}} class="slider" id="propSlider2" {{filterDisabled}} >
											</div>										
										</div>
										<div class="col-sm-4" style="padding-top:10px;">
											<div style="padding-bottom:10px;">
												<span class="label label-default" style="font-size:15px; background-color:transparent;">Diagram parameters:</span>
											</div>
											<select class="form-control" id="disconnBig">
												<option value=5 >Max. 5 one object property edges</option>
												<option selected value=7 >Max. 7 one object property edges</option>
												<option value=10 >Max. 10 one object property edges</option>
												<option value=0 >Draw all object properties in the diagram</option>
											</select>	
											<label class="form-check-label" style="padding-top:10px;">
												<input class="form-check-input" name = "compClassView" id="compClassView" type="checkbox" checked = "checked">
												<span class="custom-checkbox"></span>
												Compact view of properties and subclasses
											</label>										
											<label class="form-check-label">
												<input class="form-check-input" name = "compView" id="compView" type="checkbox" checked = "checked">
												<span class="custom-checkbox"></span>
												Compact list of property target classes
											</label>
										</div>

									</div>
								</div>
								<div class="container-fluid" >
									<div class="form-group">
										<button id="showClasses" type="button" class="btn btn-primary">Show basic classes</button>
										<button id="showGroups" type="button" class="btn btn-primary">Show merged classes</button>
									</div>
									<span class="label label-default" style="font-size:15px; background-color:transparent; padding-left:0px;">Nodes- {{classCountUsed}}, groups - {{classCountGroups}}, abstract classes - {{classCountAbstr}} </span>
								</div>

								<div class="container-fluid" style="padding-top:10px;">
									<div class="row">
										<div class="col-sm-4">
											<label>C-Class, M-Merged classes, A-Superclass</label>
											<div style="display: inline-block; vertical-align:top;">
												<select class="form-select" id="usedClasses" size="33"  style="width: 300px;">
													{{#each usedClasses}}
														<option value={{id}} {{selected}}> {{display_name}} </option>
													{{/each}}
												</select>						
											</div>										
										</div>
										<div class="col-sm-4">
											<label>Class/Class+Subclasses</label>
											<div style="display: inline-block; vertical-align:top;">
												<select class="form-select" id="subClasses" size="33"  style="width: 300px;">
													{{#each subClasses}}
														<option value={{id}} {{selected}}>{{display_name}}</option>
													{{/each}}
												</select>					
											</div>
										</div>
										<div class="col-sm-4">
											<label>Properties</label>
											<div style="display: inline-block; vertical-align:top;">
												<select class="form-select" id="classProperties" size="33" multiple style="width: 300px;">
													{{#each classProperties}}
														<option value={{id}} {{selected}}>{{display_name}}</option>
													{{/each}}
												</select>					
											</div>
										</div>
									</div>
								</div>								
						  </div>
						  <!-- //////////////////////////////////////// -->
						  <div id="support" class="tab-pane fade">
							<label class="form-check-label">
								<input class="form-check-input" name = "addIds" id="addIds" type="checkbox">
								<span class="custom-checkbox"></span>
								Show DB IDs in names
							</label>

							<div class="form-group">
								<button id="printGroups" type="button" class="btn btn-primary" data-dismiss="modal">Print groups</button>
							</div>
							<div class="form-group">
								<button id="printDiffs" type="button" class="btn btn-primary" data-dismiss="modal">Print diffs</button>
							</div>
							<div class="form-group">
								<button id="calck" type="button" class="btn btn-primary" data-dismiss="modal">Test</button>
							</div>
							<div class="form-group">
								<button id="getProperties" type="button" class="btn btn-primary" >Show all properties</button>
							</div>
						  </div>
					  </div>
					{{/if}}
                </div>

                <div class="modal-footer" style="clear: both;">
					<button id="makeDiagrAJOO2" type="button" class="btn btn-primary" data-dismiss="modal" {{hasClasses}}>Create Schema diagram</button>
					<button id="makeDiagr" type="button" class="btn btn-primary" data-dismiss="modal" {{hasClasses}}>Export Schema diagram data</button>
                    <button id="cancel-VQ-DSS-schema" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>	
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

   
</template>
