<template name="AddAttribute_OWLGrEd">
<style>
  #add-attribute-form-owlgred .modal-dialog {
    width: min(550px, 96vw);
    margin: 18px auto;
  }

  #add-attribute-form-owlgred .modal-content {
    border-radius: 6px;
  }

  #add-attribute-form-owlgred .modal-header,
  #add-attribute-form-owlgred .modal-footer {
    padding: 8px 14px;
  }

  #add-attribute-form-owlgred .modal-title {
    font-size: 16px;
    line-height: 1.2;
  }

  #add-attribute-form-owlgred .modal-body {
    width: auto !important;
    max-height: calc(100vh - 135px) !important;
    overflow-y: auto;
    padding: 10px 14px;
  }

  #add-attribute-form-owlgred .form-group {
    margin-bottom: 7px !important;
  }

  #add-attribute-form-owlgred label,
  #add-attribute-form-owlgred .label-checkbox {
    display: block;
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 600;
  }

  #add-attribute-form-owlgred .form-control,
  #add-attribute-form-owlgred .property-select {
    height: 28px;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 1.3;
  }

  #add-attribute-form-owlgred .compact-section {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 6px;
  }

  #add-attribute-form-owlgred .table {
    margin-bottom: 6px;
  }

  #add-attribute-form-owlgred .table > thead > tr > th,
  #add-attribute-form-owlgred .table > tbody > tr > td {
    padding: 3px 5px !important;
    font-size: 12px;
    line-height: 1.2;
    vertical-align: middle;
  }

  #add-attribute-form-owlgred .btn-sm {
    padding: 1px 6px;
    font-size: 12px;
    line-height: 1.4;
  }

  #add-attribute-form-owlgred .compact-actions {
    text-align: right;
    margin-top: 4px;
  }

  #add-attribute-form-owlgred .delete-btn {
    min-width: 28px;
  }
</style>
  {{#with field_obj}}
	<!-- Modal for new document -->
    <div id="add-attribute-form-owlgred" class="modal fade row-form compart-type" data-backdrop="static" data-keyboard="false" compartmentId={{compartmentId}} compartmentTypeId={{_id}}>

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Attributes</h4>
                </div>
				<div class="modal-body multi-field">
	                    <form onsubmit="return false;">
	                    	{{#if fields}}
								{{#each fields}}

									{{#if Name}}
										 <div class="form-group" style="margin-bottom:10px;">
											<label>Name</label>
											<input id="add-attribute-name" autocomplete="off" class="form-control" value="{{field_value}}">
										</div>
									{{else if Type}}
										 <div class="form-group" style="margin-bottom:10px;">
											<label>Type</label>
											<input id="add-attribute-type" list="dataTypes" type="text" autocomplete="off" class="form-control" value="{{field_value}}">

											<datalist id="dataTypes" class="datalist">
												<option mappedValue="Literal" input="Literal">Literal</option>
												<option mappedValue="NCName" input="NCName">NCName</option>
												<option mappedValue="NMTOKEN" input="NMTOKEN">NMTOKEN</option>
												<option mappedValue="Name" input="Name">Name</option>
												<option mappedValue="PlainLiteral" input="PlainLiteral">PlainLiteral</option>
												<option mappedValue="XMLLiteral" input="XMLLiteral">XMLLiteral</option>
												<option mappedValue="anyURI" input="anyURI">anyURI</option>
												<option mappedValue="base64Binary" input="base64Binary">base64Binary</option>
												<option mappedValue="boolean" input="boolean">boolean</option>
												<option mappedValue="byte" input="byte">byte</option>
												<option mappedValue="date" input="date">date</option>
												<option mappedValue="dateTime" input="dateTime">dateTime</option>
												<option mappedValue="dateTimeStamp" input="dateTimeStamp">dateTimeStamp</option>
												<option mappedValue="decimal" input="decimal">decimal</option>
												<option mappedValue="double" input="double">double</option>
												<option mappedValue="float" input="float">float</option>
												<option mappedValue="hexBinary" input="hexBinary">hexBinary</option>
												<option mappedValue="int" input="int">int</option>
												<option mappedValue="integer" input="integer">integer</option>
												<option mappedValue="language" input="language">language</option>
												<option mappedValue="long" input="long">long</option>
												<option mappedValue="negativeInteger" input="negativeInteger">negativeInteger</option>
												<option mappedValue="nonNegativeInteger" input="nonNegativeInteger">nonNegativeInteger</option>
												<option mappedValue="nonPositiveInteger" input="nonPositiveInteger">nonPositiveInteger</option>
												<option mappedValue="normalizedString" input="normalizedString">normalizedString</option>
												<option mappedValue="positiveInteger" input="positiveInteger">positiveInteger</option>
												<option mappedValue="rational" input="rational">rational</option>
												<option mappedValue="real" input="real">real</option>
												<option mappedValue="short" input="short">short</option>
												<option mappedValue="string" input="string">string</option>
												<option mappedValue="time" input="time">time</option>
												<option mappedValue="token" input="token">token</option>
												<option mappedValue="unsignedByte" input="unsignedByte">unsignedByte</option>
												<option mappedValue="unsignedInt" input="unsignedInt">unsignedInt</option>
												<option mappedValue="unsignedLong" input="unsignedLong">unsignedLong</option>
												<option mappedValue="unsignedShort" input="unsignedShort">unsignedShort</option>
											</datalist>
										</div>
									{{else if Multiplicity}}
									  <div class="form-group" style="margin-bottom:10px;">
											<label>Multiplicity</label>
											<input id="add-attribute-multiplicity" list="multiplicityList" type="text" autocomplete="off" class="form-control" value="{{field_value}}">
											<datalist id="multiplicityList" class="datalist">
												<option mappedValue="*" input="*">*</option>
												<option mappedValue="1" input="1">1</option>
												<option mappedValue="0..1" input="0..1">0..1</option>
												<option mappedValue="1..*" input="1..*">1..*</option>
											</datalist>
									  </div>
									{{else if Annotation}}
									   <div class="form-group" style="margin-bottom:10px;">
									  <label class="label-checkbox">Annotations</label>

									  <div class="compact-section">

										<table id="property-table-annotations" class="table table-bordered">
										  <thead>
											<tr>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 110px;">Annotation Type</th>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px;">Value</th>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 70px;">Language</th>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 50px;">Delete</th>
											</tr>
										  </thead>
										  <tbody>
											{{#each field_value}}
											  <tr>
												<td>
												  <input class="form-control property-select" type="text" name="annotationType" list="AnnotationTypeList" autocomplete="off" value="{{annotationType}}" />
												</td>
												<td>
												  <input class="form-control property-select" type="text" name="annotationValue" autocomplete="off" value="{{value}}" />
												</td>
												<td>
												  <input class="form-control property-select" type="text" name="annotationLang" list="LanguageList" autocomplete="off" value="{{language}}" />
												</td>
												<td>
												  <button type="button" class="btn btn-sm btn-danger delete-btn">
													<i class="fa fa-trash"></i>
												  </button>
												</td>
											  </tr>
											{{/each}}
										  </tbody>
										</table>


										<datalist id="AnnotationTypeList" class="datalist">
										  <option mappedValue="backwardCompatibleWith" input="backwardCompatibleWith">backwardCompatibleWith</option>
										  <option mappedValue="comment" input="comment">comment</option>
										  <option mappedValue="deprecated" input="deprecated">deprecated</option>
										  <option mappedValue="incompatibleWith" input="incompatibleWith">incompatibleWith</option>
										  <option mappedValue="isDefinedBy" input="isDefinedBy">isDefinedBy</option>
										  <option mappedValue="label" input="label">label</option>
										  <option mappedValue="priorVersion" input="priorVersion">priorVersion</option>
										  <option mappedValue="seeAlso" input="seeAlso">seeAlso</option>
										  <option mappedValue="versionInfo" input="versionInfo">versionInfo</option>
										</datalist>

										<datalist id="LanguageList" class="datalist">
										  <option mappedValue="en" input="en">en</option>
										  <option mappedValue="lv" input="lv">lv</option>
										  <option mappedValue="de" input="de">de</option>
										  <option mappedValue="es" input="es">es</option>
										  <option mappedValue="fr" input="fr">fr</option>
										  <option mappedValue="pt" input="pt">pt</option>
										</datalist>

										<div class="compact-actions">
										  <button id="add-annotation-row-btn" type="button" class="btn btn-primary btn-sm">
											<i class="fa fa-plus"></i> Add
										  </button>
										</div>

									  </div>
									</div>
									{{else if IsFunctional}}
									  <div class="form-group" style="margin-bottom:10px;">
											<label class="label-checkbox">
												<input id="add-attribute-IsFunctional" type="checkbox" checked="{{checked}}">
												<span class="custom-checkbox"></span>
												Is Functional
											</label>
									  </div>
									{{else if EquivalentProperties}}
									 <div class="form-group" style="margin-bottom:10px;">
									  <label class="label-checkbox">Equivalent Properties</label>

									  <div class="compact-section">

										<table id="property-table-equivalent" class="table table-bordered">
										  <thead>
											<tr>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px;">Property</th>
											  <th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 50px;">Delete</th>
											</tr>
										  </thead>
										  <tbody>
											{{#each field_value}}
											  <tr>
												<td>
												  <input class="form-control property-select" type="text" name="product" list="productName" autocomplete="off" value="{{value}}" />
												</td>
												<td>
												  <button type="button" class="btn btn-sm btn-danger delete-btn">
													<i class="fa fa-trash"></i>
												  </button>
												</td>
											  </tr>
											{{/each}}
										  </tbody>
										</table>

										<div class="compact-actions">
										   <button id="add-equivalent-properties-row-btn" type="button" class="btn btn-primary btn-sm">
											  <i class="fa fa-plus"></i> Add
											</button>
										</div>

									  </div>
									</div>

									{{else if SuperProperties}}
									   <div class="form-group" style="margin-bottom:10px;">
											<label class="label-checkbox">

												Super Properties
												<div class="compact-section">
												<table id="property-table-super" class="table table-bordered">
												<thead>
												  <tr>
													<th style="padding: 4px 8px; line-height: 1; font-size: 12px;">Property</th>
													<th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 50px;">Delete</th>
												  </tr>
												</thead>
												<tbody>
												  {{#each field_value}}
												  <tr>
													<td>
													  <input class="form-control property-select" type="text" name="product" list="productName" autocomplete="off" value="{{value}}" />
													</td>
													<td>
													  <button type="button" class="btn btn-sm btn-danger delete-btn">
														<i class="fa fa-trash"></i>
													  </button>
													</td>
												  </tr>
												{{/each}}
												</tbody>
											  </table>
											  <div class="compact-actions">
											  <button id="add-super-properties-row-btn" type="button" class="btn btn-primary btn-sm">
												<i class="fa fa-plus"></i> Add
											  </button>
											   </div>
											   </div>
											</label>
									  </div>
									{{else if DisjointProperties}}
									   <div class="form-group" style="margin-bottom:10px;">
											<label class="label-checkbox">
												Disjoint Properties
												<div class="compact-section">
												<table id="property-table-disjoint" class="table table-bordered">
												<thead>
												  <tr>
													<th style="padding: 4px 8px; line-height: 1; font-size: 12px;">Property</th>
													<th style="padding: 4px 8px; line-height: 1; font-size: 12px; width: 50px;">Delete</th>
												  </tr>
												</thead>
												<tbody>
												  {{#each field_value}}
													  <tr>
														<td>
														  <input class="form-control property-select" type="text" name="product" list="productName" autocomplete="off" value="{{value}}" />
														</td>
														<td>
														  <button type="button" class="btn btn-sm btn-danger delete-btn">
															<i class="fa fa-trash"></i>
														  </button>
														</td>
													  </tr>
													{{/each}}
												</tbody>
											  </table>
											  <div class="compact-actions">
											  <button id="add-disjoint-properties-row-btn" type="button" class="btn btn-primary btn-sm">
												<i class="fa fa-plus"></i> Add
											  </button>
											  </div>
											  </div>
											</label>
									  </div>
									<!-- {{else}} -->
									  <!-- {{> Template.dynamic template="dialogTabContent" data=fields}} -->
									{{/if}}


	                        	{{/each}}

	                        {{/if}}
	                    </form>
	             </div>
                <div class="modal-footer">
                    <button id="cancel-add-new-attribute-owlgred" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-new-attribute-owlgred" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
  {{/with}}
</template>
