
<template name="ExplainField">
<style>
    div.modal-body {
        overflow-y: auto;
        max-height: 60vh;
    }
	.explain-form-group {
        font-size:120%;
		padding-bottom: 15px;
    }

</style>

	<!-- Modal for new document -->
    <div id="explain-field-form" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Field Types</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

                        <div class="explain-form-group">
                           <span><b>Simple (attribute)</b> fields are the "normal" fields typically to be included in the selection.</span>
                        </div>
						<div class="explain-form-group">
                           <span><b>Aggregate</b> fields indicate the aggregation (e.g. count, sum) over multiple 
								elements (instances) of the current class.</span>
                        </div>	
						<div class="explain-form-group">
                           <span><b>Filter (Condition)</b> fields allow introducing filter expressions that constrain the selected 
							instance and attribute values.</span>
                        </div>
						<div class="explain-form-group">
                           <span>The fields, after their introduction, can be fine tuned (e.g. marking a field as required), 
								changed or deleted from the
								property pane to the right of the diagram.</span>
                        </div>	
                    </form>
	
                </div>
	
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>
