<template name="GenerateComplexTableQueryForm">
    <div class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Generate complex table query
                    </h4>
                </div>
                <div class="modal-body">
                    TODO content
                </div>
            </div>
        </div>
    </div>
</template>
