<template name="GenerateComplexTableQueryForm">
    <div class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div
                class="modal-content"
                style="display: flex; flex-direction: column; height:100vh; max-height: 90vh; width:50rem max-width:100vw"
            >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">
                        Generate complex table query
                    </h4>
                </div>
                <div style="flex-grow: 1; max-height:100vh" class="modal-body">
                </div>
            </div>
        </div>
    </div>
</template>
