<template name="VQ_diagram_dialogs">
          {{> AddLink}}
          {{> ConnectClasses}}
          {{> ConnectClassesSettings}}
          {{> AggregateWizard}}
          {{> AddAttribute}}
          {{> AddNewAttribute}}
          {{> BuildLinkPath}}
          {{> SelectTargetClass}}
          {{> AddCondition}}
          {{> AddUri}}
          {{> AddClassName}}
          {{> AddMergeValues}}
          {{> ExplainLink}}
          {{> ExplainField}}
          {{> VQ_DSS_schema}}
          {{> VQ_DSS_custom_sparql}}
          {{> GenerateComplexTableQueryForm}}
</template>
