<template name="loginBranding">

    <div class="form-group">
        <div class="text-center">
            <a href="https://viziquer.lumii.lv/" target="_blank">{{platformName}}</a>
            {{!-- , version {{platformVersion}}<br> --}}
            {{!-- Tool website: <a href="{{toolSiteURL}}" target="_blank">{{toolSiteName}}</a><br> --}}
            <br />
            &copy; 2009–{{currentYear}}, <a href="https://lumii.lv/?lang=en" target="_blank">IMCS, University of Latvia</a>
        </div>
    </div>

</template>
