
<template name="VQ_DSS_custom_sparql">


	<!-- Modal for new document -->
    <div id="VQ-DSS-custom-sparql" class="modal fade" data-backdrop="static" data-keyboard="false">

        <div class="modal-dialog" style="width:700px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Custom data from schema class {{className}}.</h4>
                </div>

				<div class="container-fluid">
				<label for="language">Language:</label>
    			<input id="schema-diagram-data-language" type="text" list="LanguageList" class="form-control" value="{{language}}" autocomplete="off" style="width: 250px;" >	
				<datalist id="LanguageList" class="datalist">
					<option mappedValue="en" input="en">en</option>
					<option mappedValue="fr" input="fr">fr</option>
					<option mappedValue="de" input="de">de</option>
					<option mappedValue="es" input="es">es</option>
					<option mappedValue="it" input="it">it</option>
					<option mappedValue="ru" input="ru">ru</option>
					<option mappedValue="zh" input="zh">zh</option>
					<option mappedValue="ja" input="ja">ja</option>
					<option mappedValue="pt" input="pt">pt</option>
					<option mappedValue="nl" input="nl">nl</option>
					<option mappedValue="sv" input="sv">sv</option>
					<option mappedValue="pl" input="pl">pl</option>
					<option mappedValue="fi" input="fi">fi</option>
					<option mappedValue="cs" input="cs">cs</option>
					<option mappedValue="hu" input="hu">hu</option>
					<option mappedValue="lt" input="lt">lt</option>
					<option mappedValue="lv" input="lv">lv</option>
					<option mappedValue="et" input="et">et</option>
				</datalist>
				
				</div>
				
				<div class="container-fluid">
					<div style="display: inline-block; vertical-align:top;">
						<p>Selected properties</p>
						<select class="form-select" id="unSelectedProperties" size="12" multiple aria-label="multiple select 1" style="width: 250px; border-width: 2px;">
							{{#each properties}}
								<option value="{{localName}} " data-datatypes='{{dataTypes}}'>{{displayName}} </option>
							{{/each}}
						</select>
					</div>
					<div style="display: inline-block; vertical-align:top; margin-top: 3%;">
						<div>
							<button id="addPropertyToSelection" type="button" class="btn btn-primary" style="width: 40px; height: 40px; margin: 2px;">&rarr;</button>
							<button id="removePropertyFromSelection" type="button" class="btn btn-primary" style="width: 40px; height: 40px; margin: 2px;">&larr;</button>
						</div>
						<div style="margin-top: 10px;">
							<button id="UpProperty" type="button" class="btn btn-primary" style="width: 40px; height: 40px; margin: 2px;">&uarr;</button>
							<button id="DownProperty" type="button" class="btn btn-primary" style="width: 40px; height: 40px; margin: 2px;">&darr;</button>
						</div>
					</div>
					<div style="display: inline-block; vertical-align:top;">
						<p>Unselected properties</p>
						<select class="form-select" id="selectedProperties2" size="12" multiple aria-label="multiple select 2" style="width: 250px; border-width: 2px;">
							{{#each selectedProperties}}
								<option value="{{localName}}">{{displayName}}</option>
							{{/each}}
						</select>
					</div>
					
				</div>

                <div class="modal-footer" style="clear: both;">
					<button id="generate-VQ-DSS-custom-sparql" type="button" class="btn btn-primary" data-dismiss="modal">Generate SPARQL</button>
					<button id="execute-VQ-DSS-custom-sparql" type="button" class="btn btn-primary" data-dismiss="modal">Show Data</button>		
                    <button id="cancel-VQ-DSS-custom-sparql" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->


</template>
