
<template name="VQ_structureRibbon_button">
  {{#if isVQ }}
    <span class="ribbon-button-alignment pull-right1">
      <button id="VQ_add" class="btn btn-ribbon" data-title='{{_ "add_project"}}'>New {{toolGroupName}} project</button>
    </span>
  {{/if}}
  {{> VQcreateProjectModal}}
</template>

<template name="VQcreateProjectModal">

  <!-- Modal to create new project -->
  <div id="add-project" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">{{_ "add_project"}}</h4>
              </div>
              <div class="modal-body">
      {{#if loading }}
        <p style="color: black; font-size: 16px;"> Loading ... </p>
      {{else}}
                  <form class="form-horizontal" role="form">
                      <div class="form-group">
                          <div class="col-sm-10" id="project-name-required" style="display: none;">
                              <p style="color:red;">Project name is required</p>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="project-name" class="col-sm-2 control-label">{{_ "project_name"}}</label>
                          <div class="col-sm-10">
                              <input id="project-name" type="text" class="form-control" autocomplete="off" placeholder="">
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="category-name" class="col-sm-2 control-label">{{_ "project_category"}}</label>
                          <div class="col-sm-10">
                              <input id="category-name" type="text" class="form-control" autocomplete="off" placeholder="" value={{toolGroupName}}>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="icon-name" class="col-sm-2 control-label">{{_ "project_icon"}}</label>
                          <div class="col-sm-10">
                              <input id="icon-name" type="text" class="form-control" autocomplete="off" placeholder="" value="sitemap">
                              <ul id="parsley-5828012968413532" class="parsley-error-list" style="display: block;">
                                <li class="type" style="display: list-item;">{{{_ "structure_font_awesome"}}}</li>
                              </ul>
                          </div>
                      </div>

                      <div class="form-group">
                          <label for="tool" class="control-label col-sm-2">{{_ "project_tool"}}</label>
                          <div class="col-sm-10">
                              <select class="form-control" id="tool">
                                  {{#each VQtools}}
                                      <option {{selected}} id="{{_id}}" name={{name}}>{{name}}</option>
                                  {{/each}}
                              </select>
                          </div>
                      </div>

              <div class="form-group">
                <label for="dss-schema" class="control-label col-sm-2">DSS schema</label>
                <div class="col-sm-10">
                  <input id="schema-selection" type="text" list="SchemaList" class="form-control" value="" autocomplete="off" >
                  <datalist id="SchemaList" class="datalist" >
                    {{#each schemas}}
                      <option mappedValue = "{{display_name}}" input="{{display_name}}" id="{{id}}">{{display_name_full}}</option>
                    {{/each}}
                  </datalist>
                </div>
              </div>

          <div class="form-group">
            <label for="schema-tag" class="control-label col-sm-2">Schema Tag</label>
            <div class="col-sm-10">
              <select class="form-control" id="schema-tags" >
                {{#each schema_tags}}
                  <option value="{{name}}">{{title}}</option>
                {{/each}}
              </select>
            </div>
          </div>

          <div class="form-group">
              <label for="Init" class="control-label col-sm-2">  </label>
              <div class="col-lg-10 schema" name="Def" type = "def">
                                  <label class="label-radio">
                                      <input type="radio" name="stack-radio" value="Def" checked="checked">
                                      <span class="custom-radio"></span>
                                       <span style="{{clr}}">Start empty project </span>
                                  </label>
                              </div>
            </div>

                      <div class="form-group">
                          {{#each services.projects}}
              <label for="Init" class="control-label col-sm-2">  </label>
                              <div class="col-lg-10 schema" name="{{name}}" type = "project" link = "{{link}}" >
                                  <label class="label-radio">
                                      <input type="radio" name="stack-radio" value="{{name}}" {{name}} >
                                      <span class="custom-radio"></span>
                                       <span style="{{clr}}">{{caption}} </span>
                                  </label>
                              </div>
                          {{/each}}
                      </div>

                  </form>
        {{/if}}
              </div>
      {{#if loading }}
      {{else}}
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "cancel"}}</button>
                  <button id="create-project" type="button" class="btn btn-primary">{{_ "ok"}}</button>
              </div>
      {{/if}}
          </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- End of modal -->

</template>

<!-- ---------------------------------------------------------------------- -->
<template name="VQ_diagramsToolbar_buttons">
  {{#if isVQProj }}
    <button
      id="VQsettings"
      class="btn btn-ribbon toolbar-button"
      data-title="Settings"
      data-toggle="tooltip"
      data-placement="bottom"
    >
      <i class="fa fa-gear"></i>
    </button>

    <button
    id="saveSchema"
    class="btn btn-ribbon toolbar-button"
    data-title="Data Schema"
    data-toggle="tooltip"
    data-placement="bottom"
    >
      Data Schema
    </button>
    {{#if isPublic}}
    {{else}}
      <button
        id="schemaFragment"
        class="btn btn-ribbon toolbar-button"
        data-title="Schema Fragment"
        data-toggle="tooltip"
        data-placement="bottom"
      >
        Schema Fragment
      </button>
    {{/if}}

  {{/if}}

  {{> VQontologySettings}}
  {{> VQ_DSS_schema}}
</template>

<template name="VQontologySettings">
  <style>
      .help-tip {
          position: relative;
          display: inline;
          padding-right: 5px;
          padding-left: 5px;
          text-align: center;
          background-color: #8a2be2;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          font-size: 12px;
          cursor: help;
      }

      .help-tip:before {
          content: "?";
          font-weight: bold;
          color: #fff;
      }

      .help-tip:hover p {
          display: block;
      }

      .help-tip p {
          display: none;
          text-align: left;
          font-size: 12px;
          line-height: 16px;
          color: white;
          border: 1px solid #7f7f7f;
          background-color: slategrey;
          border-radius: 5px;
          padding: 10px;
          width: 200px;
          position: absolute;
          right: 105%;
          z-index: 1000;
      }
  </style>

  <!-- Modal for new document -->
  <div id="VQontology-settings-form" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-hidden="true"
                  >
                      &times;
                  </button>
                  <h4 class="modal-title">Project Settings</h4>
              </div>
              <div class="modal-body">
                  <div class="panel panel-default">
                      <div class="panel-tab clearfix">
                          <ul class="tab-bar">
                              <li class="active" id="project-settings">
                                  <a href="#main" data-toggle="tab">Main</a>
                              </li>
                              <li id="project-security">
                                  <a href="#sec" data-toggle="tab"
                                      >Security</a
                                  >
                              </li>
                              <li id="project-extra">
                                  <a href="#extra" data-toggle="tab">Extra</a>
                              </li>
                              <li id="project-visualization">
                                  <a href="#visualization" data-toggle="tab"
                                      >SPARQL Visualization</a
                                  >
                              </li>
                          </ul>
                      </div>

                      <div class="panel-body">
                          <div class="tab-content user-tab-content">
                              <!-- tab1 -->
                              <div class="tab-pane fade in active" id="main">
                                  <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                          <label
                                              for="dss-schema"
                                              class="col-sm-3 control-label"
                                              >DSS schema</label
                                          >
                                          <div class="col-sm-9">
                                          <input id="schema-selection" type="text" list="SchemaList" class="form-control" value={{selected_schema}} autocomplete="off" >
                                          <datalist id="SchemaList" class="datalist" >
                                            {{#each schemas}}
                                              <option mappedValue = "{{display_name}}" input="{{display_name}}" id="{{id}}">{{display_name_full}}</option>
                                            {{/each}}
                                          </datalist>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="schema-tag"
                                              class="col-sm-3 control-label"
                                              >Schema Tag</label
                                          >
                                          <div class="col-sm-9">
                                              <select
                                                  class="form-control"
                                                  id="schema-tags"
                                              >
                                                  {{#each schema_tags}}
                                                  <option value="{{name}}">
                                                      {{title}}
                                                  </option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="ontology-endpoint"
                                              class="col-sm-3 control-label"
                                              >SPARQL Endpoint</label
                                          >
                                          <div class="col-sm-9">
                                              <input
                                                  id="ontology-endpoint"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{endpoint}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="ontology-uri"
                                              class="col-sm-3 control-label"
                                              >Named Graph</label
                                          >
                                          <div class="col-sm-9">
                                              <input
                                                  id="ontology-uri"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{uri}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="use-string-literal-conversion"
                                              class="col-sm-3 control-label"
                                              >Use String Literal
                                              Conversion</label
                                          >
                                          <div class="col-sm-9">
                                              <select
                                                  class="form-control"
                                                  id="use-string-literal-conversion"
                                              >
                                                  {{#each
                                                  useStringLiteralConversionList}}
                                                  <option
                                                      {{selected}}
                                                      value="{{name}}"
                                                  >
                                                      {{name}}
                                                  </option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="query-engine-type"
                                              class="col-sm-3 control-label"
                                              >Query Engine Type</label
                                          >
                                          <div class="col-sm-9">
                                              <select
                                                  class="form-control"
                                                  id="query-engine-type"
                                              >
                                                  {{#each
                                                  queryEngineTypeList}}
                                                  <option
                                                      {{selected}}
                                                      value="{{name}}"
                                                  >
                                                      {{name}}
                                                  </option>
                                                  {{/each}}
                                              </select>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-sm-5">
                                              <label class="form-check-label">
                                                  <input
                                                      class="form-check-input"
                                                      id="use-default-grouping-separator"
                                                      type="checkbox"
                                                      checked="{{project.useDefaultGroupingSeparator}}"
                                                  />
                                                  <span
                                                      class="custom-checkbox"
                                                  ></span>
                                                  Use Default Grouping
                                                  Separator
                                              </label>
                                          </div>
                                          <div class="col-sm-5">
                                              <input
                                                  id="default-grouping-separator"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{project.defaultGroupingSeparator}}"
                                                  disabled="{{project.NOTuseDefaultGroupingSeparator}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-sm-5">
                                              <label class="form-check-label">
                                                  <input
                                                      class="form-check-input"
                                                      id="show-cardinalities"
                                                      type="checkbox"
                                                      checked="{{project.showCardinalities}}"
                                                  />
                                                  <span
                                                      class="custom-checkbox"
                                                  ></span>
                                                  Show Cardinalities
                                              </label>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <!-- end of tab1 -->

                              <!-- tab2 -->
                              <div class="tab-pane fade padding-10" id="sec">
                                  <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                          <label
                                              for="endpoint-username"
                                              class="col-sm-3 control-label"
                                              >Username</label
                                          >
                                          <div class="col-sm-9">
                                              <input
                                                  id="endpoint-username"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{project.endpointUsername}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                      </div>
                                      <div class="form-group">
                                          <label
                                              for="endpoint-password"
                                              class="col-sm-3 control-label"
                                              >Password</label
                                          >
                                          <div class="col-sm-9">
                                              <input
                                                  id="endpoint-password"
                                                  type="password"
                                                  autocomplete="new-password"
                                                  class="form-control"
                                                  value="{{project.endpointPassword}}"
                                              />
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <!-- end of tab2 -->

                              <!-- tab3 -->
                              <div
                                  class="tab-pane fade padding-10"
                                  id="extra"
                              >
                                  <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                          <label
                                              for="direct-class-membership-role"
                                              class="col-sm-3 control-label"
                                              >Direct Class Membership
                                              Role</label
                                          >
                                          <div
                                              class="col-sm-9"
                                              style="width: 70%"
                                          >
                                              <input
                                                  id="direct-class-membership-role"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{directClassMembershipRole}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                          <div class="help-tip">
                                              <p>
                                                  Role for
                                                  instance-to-classifier
                                                  relation (leave blank to
                                                  have 'a' notation in SPARQL
                                                  queries, corresponding to
                                                  rdf:type)
                                              </p>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="indirect-class-membership-role"
                                              class="col-sm-3 control-label"
                                              >Indirect Class Membership
                                              Role</label
                                          >
                                          <div
                                              class="col-sm-9"
                                              style="width: 70%"
                                          >
                                              <input
                                                  id="indirect-class-membership-role"
                                                  type="text"
                                                  class="form-control"
                                                  value="{{indirectClassMembershipRole}}"
                                                  autocomplete="off"
                                              />
                                          </div>
                                          <div class="help-tip">
                                              <p>
                                                  Role (or path) for indirect
                                                  instance-to-classifier
                                                  relation. To be used in
                                                  SPARQL query generation, if
                                                  indirect class membership is
                                                  specified for a node.
                                              </p>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-sm-10">
                                              <label class="form-check-label">
                                                  <input
                                                      class="form-check-input"
                                                      id="show-prefixes-for-all-names"
                                                      type="checkbox"
                                                      checked="{{project.showPrefixesForAllNames}}"
                                                  />
                                                  <span
                                                      class="custom-checkbox"
                                                  ></span>
                                                  Show local namespace
                                                  prefixes
                                              </label>
                                              <div class="help-tip">
                                                  <p>
                                                      Show names from the
                                                      local namespace (if one
                                                      is specified) in full
                                                      prefix:display_name
                                                      form. Unchecking the
                                                      checkbox shall show
                                                      names from the local
                                                      namespace simply as
                                                      display_name, without
                                                      the prefix. For query
                                                      generation, each of the
                                                      forms (with prefix or
                                                      without prefix) are
                                                      accepted regardless of
                                                      the parameter value.
                                                  </p>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <div class="col-sm-10">
                                              <label class="form-check-label">
                                                  <input
                                                      class="form-check-input"
                                                      id="enable-wikibase-label-services"
                                                      type="checkbox"
                                                      checked="{{project.enableWikibaseLabelServices}}"
                                                  />
                                                  <span
                                                      class="custom-checkbox"
                                                  ></span>
                                                  Enable Wikibase Label
                                                  Services
                                              </label>
                                              <div class="help-tip">
                                                  <p>
                                                      Enable Wikibase Label
                                                      Services (special
                                                      compartments for
                                                      selecting labels and
                                                      descriptions along with
                                                      attributes in wikidata
                                                      queries)
                                                  </p>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="form-group">
                                          <label
                                              for="indirect-class-membership-role"
                                              class="col-sm-3 control-label"
                                              >Schema Diagram Data
                                              Language</label
                                          >
                                          <div
                                              class="col-sm-9"
                                              style="width: 70%"
                                          >
                                              <input
                                                  id="schema-diagram-data-language"
                                                  type="text"
                                                  list="LanguageList"
                                                  class="form-control"
                                                  value="{{project.schemaDiagramDataLanguage}}"
                                                  autocomplete="off"
                                              />
                                              <datalist
                                                  id="LanguageList"
                                                  class="datalist"
                                              >
                                                  <option
                                                      mappedValue="en"
                                                      input="en"
                                                  >
                                                      en
                                                  </option>
                                                  <option
                                                      mappedValue="fr"
                                                      input="fr"
                                                  >
                                                      fr
                                                  </option>
                                                  <option
                                                      mappedValue="de"
                                                      input="de"
                                                  >
                                                      de
                                                  </option>
                                                  <option
                                                      mappedValue="es"
                                                      input="es"
                                                  >
                                                      es
                                                  </option>
                                                  <option
                                                      mappedValue="it"
                                                      input="it"
                                                  >
                                                      it
                                                  </option>
                                                  <option
                                                      mappedValue="ru"
                                                      input="ru"
                                                  >
                                                      ru
                                                  </option>
                                                  <option
                                                      mappedValue="zh"
                                                      input="zh"
                                                  >
                                                      zh
                                                  </option>
                                                  <option
                                                      mappedValue="ja"
                                                      input="ja"
                                                  >
                                                      ja
                                                  </option>
                                                  <option
                                                      mappedValue="pt"
                                                      input="pt"
                                                  >
                                                      pt
                                                  </option>
                                                  <option
                                                      mappedValue="nl"
                                                      input="nl"
                                                  >
                                                      nl
                                                  </option>
                                                  <option
                                                      mappedValue="sv"
                                                      input="sv"
                                                  >
                                                      sv
                                                  </option>
                                                  <option
                                                      mappedValue="pl"
                                                      input="pl"
                                                  >
                                                      pl
                                                  </option>
                                                  <option
                                                      mappedValue="fi"
                                                      input="fi"
                                                  >
                                                      fi
                                                  </option>
                                                  <option
                                                      mappedValue="cs"
                                                      input="cs"
                                                  >
                                                      cs
                                                  </option>
                                                  <option
                                                      mappedValue="hu"
                                                      input="hu"
                                                  >
                                                      hu
                                                  </option>
                                                  <option
                                                      mappedValue="lt"
                                                      input="lt"
                                                  >
                                                      lt
                                                  </option>
                                                  <option
                                                      mappedValue="lv"
                                                      input="lv"
                                                  >
                                                      lv
                                                  </option>
                                                  <option
                                                      mappedValue="et"
                                                      input="et"
                                                  >
                                                      et
                                                  </option>
                                              </datalist>
                                          </div>
                                          <div class="help-tip">
                                              <p>
                                                  Schema Diagram Data Language
                                              </p>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <!-- end of tab3 -->

                              <!-- tab4 -->
                              <div
                                  class="tab-pane fade padding-10"
                                  id="visualization"
                              >
                                  <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                          <div class="col-sm-10">
                                              <label class="form-check-label">
                                                  <input
                                                      class="form-check-input"
                                                      id="keep-variable-names"
                                                      type="checkbox"
                                                      checked="{{project.keepVariableNames}}"
                                                  />
                                                  <span
                                                      class="custom-checkbox"
                                                  ></span>
                                                  Keep Variable Names
                                              </label>
                                              <div class="help-tip">
                                                  <p>Keep Variable Names</p>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                              <!-- end of tab4 -->
                          </div>
                      </div>
                  </div>
              </div>

              <div class="modal-footer">
                  <button
                      id="test-endpoint"
                      type="button"
                      class="btn btn-danger"
                  >
                      Test endpoint
                  </button>
                  <button
                      id="cancel-ontology-settings"
                      type="button"
                      class="btn btn-default"
                      data-dismiss="modal"
                  >
                      {{_ "cancel"}}
                  </button>
                  <button
                      id="ok-ontology-settings"
                      type="button"
                      data-dismiss="modal"
                      class="btn btn-primary"
                  >
                      {{_ "ok"}}
                  </button>

                  {{#if msg.text}}
                  <ul class="parsley-error-list" style="display: block">
                      <li style="display: list-item">{{msg.text}}</li>
                  </ul>
                  {{/if}}
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
  <!-- End of modal -->
</template>

