<template name="AddMergeValues">
    <style>
        div.modal-bodyMF {
			margin-right: 5px; 
		}
		div.merge-values-list {
            margin-top: 5px;
            margin-left: 20px;                        
        }
		div.merge-values-wizard {
            margin-top: 5px;
            margin-left: 20px;    
			margin-right: 60px; 
        }
		div.merge-values-expression {
            margin-top: 5px;
            margin-left: 20px;                        
            margin-right: 60px;                        
        }

		div.merge-type-part {
			background-color: white;
			margin-top: 5px;
			margin-left: 30px;
		}
		div.move-type-part {
			background-color: white;
			margin-top: 5px;
			margin-left: 30px;
			margin-right: 5px;
		}

        p {
            font-size: 14px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: : 0px;
            margin-bottom: 0px;
        }

        .merge-values-list select {
            position: relative;             
            width:90%;
            border-radius:5px;
            font-size: 13px;
        }
		input {
			width: 100%;
		}
		
		#merge-results-least, #merge-results-most{
            width: 95%;            
        }
		
		 hr {
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: -5px;
            border: 0;
            border-top: 1px solid #c9c7c7;
            width:95%
        }
		
    </style>
    <!-- Modal for new document -->
    <div id="merge-values-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Merge values</h4>
                </div>
                <div class="modal-bodyMF">                
					
					{{#if isMultiple}}                   
					   <div class="merge-type-part">
							<form id="merge-choice" class="form-horizontal" role="form">
								<div class="form-group">                            
									<div name="chain">                       
										<label class="label-radio">
											<input type="radio" name="type-radio-merge" value="SINGLE" checked="checked">
											<span class="custom-radio"></span>
											Merge for single {{className}} &ensp;
											<br/>
											<input type="radio" name="type-radio-merge" value="MULTIPLE">
											<span class="custom-radio"></span>
											Merge over multiple {{className}} (move to Aggregates) &ensp;
										</label>
									</div>
								</div>                        
							</form>                    
						</div>
					{{else}}
						<div class="move-type-part">
							<form id="type-choice" class="form-horizontal" role="form">
								<div class="form-group">                            
									<div name="chain">                       
										<label class="label-radio">
											Move ({{expression}}) to Aggregates block to aggregate (sum, count, etc.) over multiple ({{className}}) &ensp;
										</label>
									</div>
								</div>                        
							</form>                    
						</div>
				    {{/if}}
					<div class="merge-values-expression">
						<p>Expression: </p>
						<input type="text" name="expression-merge" value="{{expression}}">
					</div>
					<div class="merge-values-list">                       
                        <form id="radio-function-form" class="function-radio-list">
                            <p>Functions: </p>

							<label class="label-radio-functions">
								<input type="radio" name="radio-function" value="count" {{selectedCount}}>
								<span class="custom-radio"></span>
								count &ensp;
								<br/>
								<input type="radio" name="radio-function" value="count_distinct" {{selectedDistinct}}>
								<span class="custom-radio"></span>
								count_distinct &ensp;
								<br/>
								<input type="radio" name="radio-function" value="sum" {{selectedSum}}>
								<span class="custom-radio"></span>
								sum &ensp;
								<br/>
								<input type="radio" name="radio-function" value="avg" {{selectedAvg}}>
								<span class="custom-radio"></span>
								avg &ensp;
								<br/>
								<input type="radio" name="radio-function" value="max" {{selectedMax}}>
								<span class="custom-radio"></span>
								max &ensp;
								<br/>
								<input type="radio" name="radio-function" value="min" {{selectedMin}}>
								<span class="custom-radio"></span>
								min &ensp;
								<br/>
								<input type="radio" name="radio-function" value="sample" {{selectedSample}}>
								<span class="custom-radio"></span>
								sample &ensp;
								<br/>
								<input type="radio" name="radio-function" value="group_concat" {{selectedConcat}}>
								<span class="custom-radio"></span>
								group_concat &ensp;
							</label>
							
                        </form>                                          
                    </div>
					{{#if isMultiple}}
					
					<div class="merge-values-wizard" id="merge-values-wizard-id" style="display:none;">                       
                        
                         <form>
                            <p>Result name (alias): </p>
                            <input type="text" id="merge-alias-name" value="{{mergeAlias}}"><br>
                        </form>
                        
						{{#if isNotRootClass}}
						<div  style="display:block;">            
							<hr>

							<form> <!-- style="color: lightgrey !important;" -->
								<input type="checkbox" id="merge-display-results">
								<span class="custom-checkbox"></span>
								<p style="display:inline;">Display result (in base class) </p>
							</form>

							<form> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
								<label><p>Result at least (&gt;=): &emsp;</p> </label>
								<input id="merge-results-least" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form>

							<form style="margin-bottom: 10px;"> <!-- style="color: lightgrey !important;" -->
								<label><p>Result at most (&lt;=):&emsp;</p> </label>
								<input id="merge-results-most" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form> 
						</div>						
						{{else}}
						<div  style="display:none;">            
							<hr>

							<form> <!-- style="color: lightgrey !important;" -->
								<input type="checkbox" id="merge-display-results">
								<span class="custom-checkbox"></span>
								<p style="display:inline;">Display result (in base class) </p>
							</form>

							<form> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
								<label><p>Result at least (&gt;=): &emsp;</p> </label>
								<input id="merge-results-least" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form>

							<form style="margin-bottom: 10px;"> <!-- style="color: lightgrey !important;" -->
								<label><p>Result at most (&lt;=):&emsp;</p> </label>
								<input id="merge-results-most" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form> 
						</div>		
						
						{{/if}}
						
                    </div>
					{{else}}
					<div class="merge-values-wizard" id="merge-values-wizard-id" style="display:block;">                       
                        
                        <form>
                            <p>Result name (alias): </p>
                            <input type="text" id="merge-alias-name" value="{{mergeAlias}}"><br>
                        </form>
						
						{{#if isNotRootClass}}
						<div style="display:block;">            
							<hr>

							<form> <!-- style="color: lightgrey !important;" -->
								<input type="checkbox" id="merge-display-results">
								<span class="custom-checkbox"></span>
								<p style="display:inline;">Display result (in base class) </p>
							</form>

							<form> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
								<label><p>Result at least (&gt;=): &emsp;</p> </label>
								<input id="merge-results-least" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form>

							<form style="margin-bottom: 10px;"> <!-- style="color: lightgrey !important;" -->
								<label><p>Result at most (&lt;=):&emsp;</p> </label>
								<input id="merge-results-most" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form> 
						</div>						
						{{else}}
						<div style="display:none;">            
							<hr>

							<form> <!-- style="color: lightgrey !important;" -->
								<input type="checkbox" id="merge-display-results">
								<span class="custom-checkbox"></span>
								<p style="display:inline;">Display result (in base class) </p>
							</form>

							<form> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
								<label><p>Result at least (&gt;=): &emsp;</p> </label>
								<input id="merge-results-least" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form>

							<form style="margin-bottom: 10px;"> <!-- style="color: lightgrey !important;" -->
								<label><p>Result at most (&lt;=):&emsp;</p> </label>
								<input id="merge-results-most" type="number" pattern="[0-9]" step="any" required>
								<span class="validity"></span>  
							</form> 
						</div>		
						
						{{/if}}
						
                    </div>
					
					{{/if}}
                </div>

                <div class="modal-footer">                    
                    <button id="cancel-merge-values" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-merge-values" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        
    </script>
</template>