
<template name="AddLink">
<style>
    div.modal-body {
        margin-top: 0px;
        padding-top: 0px;
        overflow-y: auto;
        max-height: 60vh;      
    }

    div.link-type-part {
        position: relative;
        float: right;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        max-width: 50%;
    }

/*    hr {
        margin-top: 20px;        
        margin-left: -5px;
        border: 0;
        border-top: 1px solid #c9c7c7;
        width:95%
    }
*/
    .help-tip{
        position: relative;
        display:inline;
        padding-right: 3px;
        padding-left: 5px;
        text-align: center;
        background-color: silver;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 26px;
        cursor: help;
    }

    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;       
    }

    .help-tip:hover p{
        display: block;
    }

    .help-tip p{
        display: none;
        text-align: left;
        color: white;
        border: 1px solid #7F7F7F;
        background-color: slategrey; 
        border-radius: 5px;       
        padding: 10px;
        width: 300px;
        position: absolute;
        left: 10px;
        z-index: 1000;
    }    
</style>

	<!-- Modal for new document -->
    <div id="add-link-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Link</h4>
                </div>
                
                <div class="link-type-part">
                    <form id="type-choice" class="form-horizontal" role="form">
                        <div class="form-group">                            
                            <div name="chain">                       
                                <label class="label-radio">                                    
                                    <input type="radio" name="type-radio" value="JOIN" checked="checked">
                                    <span class="custom-radio"></span>
                                    Join Link &ensp;
                                    <div class="help-tip">
                                        <p>Use to join linked instances of both classes.</p>
                                    </div>
                                </label>
                                <!-- <br style="line-height: 200%;"> -->
                                <label class="label-radio">
                                    <input type="radio" name="type-radio" value="NESTED">
                                    <span class="custom-radio"></span>
                                    Nested Query Link &ensp;
                                    <div class="help-tip">
                                        <p>Use for aggregates (count, sum, max, ...) over linked class. Use to check, if a linked class instance exists.</p>
                                    </div>
                                </label>

                                <div style="margin-left:15px; margin-right: 20px;"> <!-- "display:inline;" -->
                                    <input type="checkbox" id="goto-wizard" value="DISPLAY" disabled>
                                    <span class="custom-checkbox"></span>
                                    Use Aggregate wizard
                                </div>                                
                                    
                                    <!-- <hr> -->
                                
                            </div>
                        </div>                        
                    </form>                    
                </div>
               
                <div class="modal-body">
                    <form class="form-horizontal" role="form">                        
                        <div class="form-group">                   
                            {{#each associations}}
                                <div class="col-lg-10 association" name="{{name}}" className="{{class}}" line_direct="{{type}}">
                                    <label class="label-radio">
                                        <input type="radio" name="stack-radio" value="{{name}}">
                                        <span class="custom-radio"></span>
                                        {{name}} {{type}} {{class}}
                                    </label>
                                </div>
                            {{/each}}
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-sm-10">
        						<input id="fileList" type='file' multiple/>
                            </div>
                        </div> -->
                    </form> 
                </div>

                <div class="modal-footer">
                    <button id="cancel-add-link" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-link" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

    <script>
        //Show additional choices
        $(function () {
            $('input[name=type-radio]').change(function(){
                var checkedName = $('input[name=type-radio]').filter(':checked').val();
                // console.log(checkedName);
                if (checkedName === 'JOIN') {
                    $('input[id=goto-wizard]:checked').attr('checked', false);
                    $('input[id=goto-wizard]').attr("disabled","disabled");;
                } else {
                    $('input[id=goto-wizard]').removeAttr('disabled');
                }            
            })
        })
    </script>
</template>

<template name="AggregateWizard">
    <style>
        div.wizard-list {
            margin-top: 5px;
            margin-left: 20px;                        
        }

        p {
            font-size: 14px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: : 0px;
            margin-bottom: 0px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: -5px;
            border: 0;
            border-top: 1px solid #c9c7c7;
            width:95%
        }

        .wizard-list select, #field-name {
            position: relative;             
            width:90%;
            border-radius:5px;
            font-size: 13px;
        }
    </style>
    <!-- Modal for new document -->
    <div id="aggregate-wizard-form" class="modal fade" onload="getDefaultName()">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Aggregate wizard</h4>
                </div>
                <div class="modal-bodyFC">                
                    <div class="wizard-list">                       
                        <form class="function-radio-list">
                            <p>Functions: </p>
                            <select name="function-list" id="function-list">
                                <option name="function-name" value="count" selected>count</option>
                                <option name="function-name" value="count_distinct">count_distinct</option>
                                <option name="function-name" value="sum">sum</option>
                                <option name="function-name" value="avg">avg</option>
                                <option name="function-name" value="max">max</option>
                                <option name="function-name" value="min">min</option>
                                <option name="function-name" value="sample">sample</option>
                                <option name="function-name" value="concat">concat</option>
                            </select>                                                        
                        </form>                    
                        <form>
                            <p>Field (if applicable)</p>
                            <select name="field-list" id="field-list">
                                <!-- <option name="field-name" value="" selected></option> -->
                                {{#each attList}}
                                    <option name="field-name" value="{{attribute}}">{{attribute}}</option>
                                {{/each}}
                            </select>
                        </form>

                         <form>
                            <p>Result name: </p>
                            <input type="text" id="alias-name" value="{{defaultAlias}}"><br>
                        </form>
                        
                        <hr>

                        <form> <!-- style="color: lightgrey !important;" -->
                            <input type="checkbox" id="display-results">
                            <span class="custom-checkbox"></span>
                            <p style="display:inline;">Display result </p>
                        </form>

                        <form> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
                            <label><p>Result at least (&gt;=): &emsp;</p> </label>
                            <input id="results_least" type="number" pattern="[0-9]" step="any" required>
                            <span class="validity"></span>  
                        </form>

                        <form> <!-- style="color: lightgrey !important;" -->
                            <label><p>Result at most (&lt;=):&emsp;</p> </label>
                            <input id="results-most" type="number" pattern="[0-9]" step="any" required>
                            <span class="validity"></span>  
                        </form>                        
                    </div>
                </div>

                <div class="modal-footer">                    
                    <button id="cancel-aggregate-wizard" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-aggregate-wizard" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getDefaultName() {}
    </script>
</template>