
<template name="AddAttribute">
<style>
    div.modal-body {
        overflow-y: auto;
        max-height: 60vh;
    }
	
	.form-group-associations{
		display: none;
    }
	.button-required {
	  background-color: #f9f9f9;
	  color: #777;
	  font-size: 10px;
	  border-radius: 4px;
	  border: 1px solid #cccccc;
	  width: 19px;
	}
	.button-required2 {
	  background-color: #f9f9f9;
	  color: #777;
	  font-size: 10px;
	  border-radius: 4px;
	  border: 1px solid #cccccc;
	  width: 10px;
	  min-height: 13px;
	  box-sizing: content-box;
	}
	.button-hide {
	  background-color: #f9f9f9;
	  color: #777;
	  font-size: 10px;
	  border-radius: 4px;
	  border: 1px solid #cccccc;
	  min-width: 27px;
	  min-height: 13px;
	  box-sizing: content-box;
	}

	.label-extra {
	  border: 1px solid #ccc;
	  display: none;
	}
	
</style>

	<!-- Modal for new document -->
    <div id="add-attribute-form" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Attributes</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
					
						<div class="form-group">

                            {{#each existingAttributes}}
                                <div class="col-lg-10 attribute" name="{{name}}" >
                                    <label class="label-checkbox" name="add-attribute">
                                        <button id="required-existing-attribute" name="required-existing-attribute" type="button" class="button button-required">{{required}}</button>
                                        {{fulltext}}
										<button type="button" id="attribute-extra-button">Extra</button>
                                    </label>
									<label class="label-extra" name="attrbute-exist-extra">
                                        
                                        <label class="label-hide" for="hide-checkbox">Alias:</label>
										<input type="text" class="input-hide" id="alias" name="alias" value={{alias}}>
										<br>
										<label class="label-hide" for="hide-checkbox">Expression:</label>
										<input type="text" class="input-hide" id="expression" name="expression" value={{name}}>
										<br>
										<label class="label-hide" for="hide-checkbox">Hide:</label>
										<input type="checkbox" name="stack-checkbox" id="hide-checkbox" {{hideCheckBox}}>
                                        <span class="custom-checkbox"></span>
                                    </label>
                                </div>

                            {{/each}}

                        </div>
						{{#if showLabels}}
						<div class="form-group">
							
							<div id="existing-attributes-labels">
                                <label class="label-checkbox" name="add-attribute">
                                    <label>&nbsp;{+}&nbsp;&nbsp;&nbsp;{hide}&nbsp;&nbsp;&nbsp;&nbsp;Alias&nbsp;&nbsp;&nbsp;&nbsp;&#60;- &nbsp;&nbsp;&nbsp;Expression</label>
                                </label>
                            </div>
							
                            {{#each existingAttributes}}
                                <div name="{{name}}" >
                                    <label class="label-checkbox" name="add-attribute">
                                        <button id="required-existing-attribute2" name="required-existing-attribute2" type="button" class="button button-required2">{{required2}}</button>
										 <button id="hide-existing-attribute" name="hide-existing-attribute" type="button" class="button button-hide">{{hideButton}}</button>
                             
										<input type="text" style="width: 40px;" class="input-hide" id="alias" name="alias" value={{alias}}>
										<label>&#60;-</label>
										<input type="text" style="width: 150px;" class="input-hide" id="expression" name="expression" value={{name}}>
                                    </label>
                                </div>

                            {{/each}}

                        </div>
						{{/if}}
						<div class="searchBox" id="searchBox-attribute">                                        
							<input class="form-control" id="mySearch-attribute" type="text" placeholder="Search.." style="width:90%;display: inline-block;">
							&ensp;
							<hr>
						</div>
                        <div class="form-group">

                            {{#each attributes}}

                                {{#if separator}}
                                  <div class="col-lg-10 attribute">
                                      <hr>
                                  </div>
                                {{else}}
                                <div class="col-lg-10 attribute" name="{{name}}" >
                                    <label class="label-checkbox" name="add-attribute">
                                        <button id="required-attribute" name="required-attribute" type="button" class="button button-required" disabled="{{disabled}}">&nbsp;</button>
										<input type="checkbox" name="stack-checkbox" id="input-checkbox" disabled="{{disabled}}">
                                        <span class="custom-checkbox"></span>
                                        {{name}}
                                    </label>
                                </div>
                                {{/if}}

                            {{/each}}

                        </div>
							
                    </form>
					
					 <button onclick="showAssociations()">[+]</button>
					 <form class="form-horizontal" role="form">
						<div class="form-group-associations"  id="class-associations" style="display: none">

                            {{#each associations}}
                                <div class="col-lg-10 attribute" name="{{name}}" >
                                    <label class="label-checkbox">
                                        <button id="required-attribute" name="required-attribute" type="button" class="button button-required">&nbsp;</button>
										<input type="checkbox" name="stack-checkbox" id="input-checkbox" disabled="{{disabled}}">
                                        <span class="custom-checkbox"></span>
                                        {{name}}
                                    </label>
                                </div>

                            {{/each}}

                        </div>
							
					</form>
                </div>
	
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-attribute" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
	<script>
function showAssociations() {
  var x = document.getElementById("class-associations");
  if (x.style.display !== "none") {
	x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

</template>
