
<template name="AddLinkTest">
<style>
    div.modal-body {
        margin-top: 0px;
        padding-top: 0px;
        overflow-y: auto;
        max-height: 60vh;
        min-height: 140px;             
    }

    div.link-type-part {
        position: relative;
        float: right;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        width: 30%;        
    }

    /*.help-tip{
        position: relative;
        display:inline;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
        background-color: #8A2BE2;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 26px;
        cursor: help;
    }

    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;       
    }

    .help-tip:hover p{
        display: block;
    }

    .help-tip p{
        display: none;
        text-align: left;
        color: white;
        border: 1px solid #7F7F7F;
        background-color: slategrey; 
        border-radius: 5px;       
        padding: 10px;
        width: 200px;
        position: absolute;
        right: 105%; 
        z-index: 1000;
    }  

    .describe {
        margin-left:25px; 
        font-size:90%;
        font-style: italic;
    } */ 
</style>

	<!-- Modal for new document -->
    <div id="add-link-test-form" class="modal fade">
        
        <div class="modal-dialog" style="width:750px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Link</h4>
                </div>
   
                <!-- <div class="link-type-part">
                    <form id="type-choice" class="form-horizontal" role="form">
                        <div class="form-group">                            
                            <div name="chain">                       
                                <label class="label-radio">                                    
                                    <input type="radio" name="type-radio" value="JOIN" checked="checked">
                                    <span class="custom-radio"></span>
                                    Join Link &ensp;
                                    <div class="help-tip">
                                        <p>Use to join linked instances of both classes.</p>
                                    </div>
                                    <div class="describe">for joining all instances</div>
                                </label>-->
                                <!-- <br style="line-height: 200%;"> -->
                                <!-- <label class="label-radio">
                                    <input type="radio" name="type-radio" value="NESTED">
                                    <span class="custom-radio"></span>
                                    Nested Query Link &ensp;
                                    <div class="help-tip">
                                        <p>Use for aggregates (count, sum, max, ...) over linked class. <br>Use to check, if a linked class instance exists.</p>
                                    </div>
                                    <div class="describe">for aggregation or existance check</div>
                                </label>

                                <div style="margin-left:25px; margin-right: 20px; margin-top:5px;"> --><!-- "display:inline;" -->
                                    <!-- <input type="checkbox" id="goto-wizard" value="DISPLAY" disabled>
                                    <span class="custom-checkbox"></span>
                                    Use Aggregate wizard
                                </div> 
                            </div>
                        </div>                        
                    </form>                    
                </div>-->
               
                <div class="modal-body">
                    <form id="link-list-form" class="form-horizontal" role="form">                        
                        <!--<div class="form-group">                   
                            {{#each associations}}
                                <div class="col-lg-10 association" name="{{name}}" className="{{class}}" line_direct="{{type}}">
                                    <label class="label-radio">
                                        <input type="radio" name="stack-radio" value="{{name}}" card={{card}}>
                                        <span class="custom-radio"></span>
                                        <span style="{{clr}}">{{name}} {{type}} {{card}} {{class}} </span>
                                    </label>
                                </div>
                            {{/each}}
                        </div>-->
                        Different concepts for interfaces. No drawing functionality.
                        <hr><br>
                        <p>Version 1 - dropdown menu with reaction to input</p><br>
                        <input type="text" class="form-control dialog-combobox c93c1c24e95aac9deb851c91 input-sm" list="associationsList" id="listV1">
                        <datalist id="associationsList" class="datalist">
                            <option name="empty" value=" " input=" "></option>
                            {{#each associations}}
                                <option>{{full}}</option>
                            {{/each}}
                        </datalist>
                        <br><hr><br>
                        <p>Version 2 - limit by class/link name (radio-buttons + dropdown)</p><br>
                        <div class="form-group" id="class-link-check">
                            <div class="col-lg-10 association">
                                <label class="label-radio">
                                    <input type="radio" name="class-link-radio" value="all" checked>
                                    <span class="custom-radio"></span>
                                    <span>Show all</span>
                                </label>
                            </div>                   
                            <div class="col-lg-10 association">
                                <label class="label-radio">
                                    <input type="radio" name="class-link-radio" value="class">
                                    <span class="custom-radio"></span>
                                    <span>Contatining class</span>
                                </label>
                            </div>
                            <div class="col-lg-10 association">
                                <label class="label-radio">
                                    <input type="radio" name="class-link-radio" value="link">
                                    <span class="custom-radio"></span>
                                    <span>Containing link</span>
                                </label>
                            </div>                            
                        </div>
                        Limiting value:
                        <select name="check-list" id="check-list" style="width: 50%; margin-left: 10px; margin-right: 10px">
                            {{#each checkList}}
                                <option name="check-name" value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>

                        <p>Select link and class:</p>
                        <div class="form-group" name="short-list">                   
                            {{#each shortList}}
                                <div class="col-lg-10 association" >
                                    <label class="label-radio">
                                        <input type="radio" name="list-radio" value="{{full}}">
                                        <span class="custom-radio"></span>
                                        <span>{{full}}</span>
                                    </label>
                                </div>
                            {{/each}}
                        </div>
                        <br><hr><br>
                        <p>Version 3 - composite version (link - direction - class)</p><br>
                        Link name:
                        <select name="list-link" id="link-list" style="width: 50%; margin-left: 10px; margin-right: 10px">
                            <option name="link-list" value="empty" selected> [all] </option>
                            {{#each shortLinkList}}
                                <option name="link-list" value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>
                        <br>Link direction:                       
                        <select name="list-direction" id="direction-list" style="width: 50%; margin-left: 10px; margin-right: 10px">
                            <option name="direction-list" value="empty" selected> [all] </option>
                            {{#each shortDirectList}}
                                <option name="direction-list" value="{{value}}"> {{value}} </option>
                            {{/each}}
                        </select>
                        <br>Class:
                        <select name="list-class" id="class-list" style="width: 50%; margin-left: 10px; margin-right: 10px">
                            <option name="class-list" value="empty" selected> [all] </option>
                            {{#each shortClassList}}
                                <option name="class-list" value="{{value}}">{{value}}</option>
                            {{/each}}
                        </select>                        
                    </form> 
                </div>

                <div class="modal-footer">
                    <button id="cancel-add-link" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-link" type="button" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>