
<template name="AddLink">
<style>
    #mbodyAL {
        margin-top: 0px;
        padding-top: 0px;
        overflow-y: auto;
        max-height: 60vh;
        min-height: 140px;             
    }

    div.link-type-part {
        float: right;
        background-color: white;
        margin-left: 10px;
        margin-right: 10px;
        width: 30%;        
    }

    div.searchBox {
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        padding-top: 10px;
    }

    .help-tip{
        position: relative;
        display:inline;
        padding-right: 5px;
        padding-left: 5px;
        text-align: center;
        background-color: #8A2BE2;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        font-size: 12px;
        line-height: 26px;
        cursor: help;
    }

    .help-tip:before{
        content:'?';
        font-weight: bold;
        color:#fff;               
    }

    .help-tip:hover p{
        display: block;
    }

    .help-tip p{
        display: none;
        text-align: left;
        font-size: 12px; 
        line-height: 16px;
        color: white;
        border: 1px solid #7F7F7F;
        background-color: slategrey; 
        border-radius: 5px;       
        padding: 10px;
        width: 200px;
        position: absolute;
        right: 105%; 
        z-index: 1000;
    }  

    .describe {
        margin-left:25px; 
        font-size:90%;
        font-style: italic;
    }

    #add-long-link {
        background-color:#4CAF50;
        float:left;
    }
</style>

	<!-- Modal for new document -->
    <div id="add-link-form" class="modal fade">
        
        <div class="modal-dialog" style="width:750px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Link</h4>
                </div>

                <div class="searchBox" id="searchBox">   
					<label class="form-check-label">
						<input class="form-check-input" name = "dbp_for_links" id="dbp_for_links" type="checkbox" checked="checked">
						<span class="custom-checkbox"></span>
						Basic list
					</label>				
                    <input class="form-control" id="mySearch" type="text" placeholder="Search.." style="width:58%;display: inline-block;">
                    &ensp;
					<a id="apply-button" class="btn btn-xs btn-success"><i>Apply</i></a>
					&ensp;
					<a id="build-path-button" class="btn btn-xs btn-success"><i>Build..</i></a>
                    <!-- <input class="form-control" id="mySearch" type="text" placeholder="Search / filter .." style="width:55%;display: inline-block;">
                    &ensp;
                    <input class="form-control" id="classSearch" type="text" placeholder="Linked class .." style="width:25%;display: inline-block;">
                    &ensp;
					<a id="link-new-button" class="btn btn-xs btn-success button-new"><i>Build link ..</i></a> -->
					<div class="help-tip">
                        <p style="width:500px">Period is used to separate search in link and class parts:<br>&ensp;&ensp;[what to search in link]<span style="color:orange; font-size: 20px;">.</span>[what to search in class].<br>Only one period symbol is allowed.<br>Spaces and commas are allowed as separators to search for multiple words.</p>
                    </div>
                    <hr>
                </div>
   
                <div class="link-type-part">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">                            
                            <div name="chain">                       
                                <p style="color: black;"> Change Link Type </p>
                                <div id="add-link-type-choice">
    								<label class="label-radio">                                    
                                        <input type="radio" name="type-radio" value="JOIN">
                                        <span class="custom-radio"></span>
                                        Join Link &ensp;
                                        <div class="help-tip">
                                            <p>Add linked class information to the joint selection </p>
                                        </div>
                                        <div class="describe">join linked information from both classes together</div>
                                    </label>
                                    <!-- <br style="line-height: 200%;"> -->
                                    <label class="label-radio">
                                        <input type="radio" name="type-radio" value="NESTED">
                                        <span class="custom-radio"></span>
                                        Subquery Link &ensp;
                                        <div class="help-tip">
                                            <p>Use to aggregate (count, sum, max, ...) over linked class elements (or their attributes)
    										that are connected to the source instance. <br>
    										Use to check, if a connected linked class instance exists.</p>
                                        </div>
                                        <div class="describe">aggregate over linked class elements, check their existence</div>
                                    </label>
                                </div>

                                <div style="margin-left:25px; margin-right: 20px; margin-top:5px;"> <!-- "display:inline;" -->
                                    <input type="checkbox" id="goto-wizard" value="DISPLAY" disabled>
                                    <span class="custom-checkbox"></span>
                                    Use Aggregate wizard
									<div class="help-tip">
                                        <p>Helps to create an aggregation variable and display or test it within the main query </p>
                                    </div>
                                </div> 
                            </div>
                        </div>                        
                    </form>                    
                </div>
               
                <div class="modal-body" id="mbodyAL">                    
                    <form id="link-list-form" class="form-horizontal" role="form">                        
                        <div class="form-group">
                        <!-- {{#if testAddLink.data}}                    -->
                            {{#each fullList}}
                                {{#if show}}
                                <div class="col-lg-10 association" name="{{name}}" className="{{class}}" line_direct="{{type}}">
                                    <label class="label-radio">
                                        <input type="radio" name="link-list-radio" value="{{name}}" card={{card}}>
                                        <span class="custom-radio"></span>
                                        <span style="{{clr}}">{{name}} {{text}} {{type}} {{card}} {{class}} </span>
                                    </label>
                                </div>
                                {{/if}}
                            {{/each}}
                        <!-- {{else}}
                            {{#each shortList}}
                                <div class="col-lg-10 association" name="{{name}}" className="{{class}}" line_direct="{{type}}">
                                    <label class="label-radio">
                                        <input type="radio" name="link-list-radio" value="{{name}}" card={{card}}>
                                        <span class="custom-radio"></span>
                                        <span style="{{clr}}">{{name}} {{text}} {{type}} {{card}} {{class}} </span>
                                    </label>
                                </div>
                            {{/each}}
                        {{/if}} -->
                        </div>
                        <!-- <div class="form-group">
                            <div class="col-sm-10">
        						<input id="fileList" type='file' multiple/>
                            </div>
                        </div> -->
                    </form> 
                </div>

                <div class="modal-footer" style="clear: both;">
                    <!-- {{#if testAddLink.data}}  -->
                        <button id="add-long-link" type="button" class="btn btn-default">Connect remote class</button> 
                    <!-- {{/if}} -->
                    <button id="cancel-add-link" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-link" type="button" class="btn btn-primary">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

    <script>
        //Show additional choices
        // $(document).ready(function(){                   
            // $('#add-link-type-choice').change(function(){
            //     var checkedName = $('input[name=type-radio]').filter(':checked').val(); // console.log(checkedName);
            //     if (checkedName === 'JOIN') {
            //         $('input[id=goto-wizard]:checked').attr('checked', false);
            //         $('input[id=goto-wizard]').attr('disabled',"disabled");
            //     } else {
            //         $('input[id=goto-wizard]').removeAttr('disabled');
            //     }            
            // });

            // var proj = Projects.findOne({_id: Session.get("activeProject")});
            // if (proj) {
            //     if(proj.showCardinalities=="true"){            
            //         $('#link-list-form').change(function(){
            //             var checkedName = $('input[name=link-list-radio]').filter(':checked').attr("card"); //console.log(checkedName);
            //             if (checkedName.indexOf("[*]") == -1){//max cardinality not [*]
            //                 $('input[value=JOIN]').prop('checked', true);
            //                 $('input[value=NESTED]').prop('checked', false);
            //                 $('input[value=NESTED]').attr('disabled',"disabled");
            //                 $('input[id=goto-wizard]:checked').attr('checked', false);
            //                 $('input[id=goto-wizard]').attr('disabled',"disabled");
            //             } else {
            //                 $('input[value=NESTED]').removeAttr('disabled');
            //                 $('input[value=NESTED]').prop('checked', true);
            //                 $('input[id=goto-wizard]').removeAttr('disabled');
            //             }                
            //         });
            //     }
            // }
        // })
    </script>
</template>

<template name="BuildLinkPath">


	<!-- Modal for new document -->
    <div id="build-path-form" class="modal fade">
        
        <div class="modal-dialog" style="width:750px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Link</h4>
                </div>

                <div style="margin-left:15px;margin-right:15px;">
					<p>Property path</p>
                    <input type="text" class="form-control dialog-combobox input-sm" id="build-path-input">
					<span class="help-block">Use Ctrl+Space for text auto-completion</span>
                </div>

                <div class="modal-footer" style="clear: both;">
                    <button id="cancel-build-path" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-build-path" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

</template>