
<template name="AddAggregate">
<style>
    div.modal-body {
        overflow-y: auto;
        max-height: 60vh;
    }
	
	.label-aggregate {
		  padding-top:0px;
	}
</style>

	<!-- Modal for new document -->
    <div id="add-aggregate-form" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Aggregation</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">

						<form>
                            <p style="color:purple">What to aggregate <div style="color:grey">(leave blank for instances themselves)</div></p>
							<input class="form-control" id="field-list-aggr" name="field-list-aggr" type="text" list="field-list-aggr-datalist" 
									placeholder="Field or expression" style="width:83%;display: inline-block;">
							<!-- <input type="text" name="field-list-aggr" id="field-list-aggr" list="field-list-aggr-datalist"> -->
							<datalist id="field-list-aggr-datalist" class="datalist">
							 {{#each attList}}
                                    <option name="field-name-aggr" input="{{attribute}}">{{attribute}}</option>
                                {{/each}}
							</datalist>
							
							<a id="extra-options-button" class="btn btn-xs btn-success"><i>Extra Options</i></a>
                            <!-- <select name="field-list-aggr" id="field-list-aggr" style="width:100%"> -->
                                <!-- {{#each attList}} -->
                                    <!-- <option name="field-name-aggr" value="{{attribute}}">{{attribute}}</option> -->
                                <!-- {{/each}} -->
                            <!-- </select> -->
                        </form>
						
						<div id="extra-options" style="display: none;">
							<p> Extra options: 
							<form id="distinct-aggr" style="display:inline-block">
								<input type="checkbox" id="distinct-aggr-check-box">
								<span class="custom-checkbox"></span>
								<div style="display:inline">Distinct values only </div>
							</form>
							<form id="require-aggr" style="display:inline-block">
								<input type="checkbox" id="require-aggr-check-box">
								<span class="custom-checkbox"></span>
								<div style="display:inline">Require values explicitly</div>
							</form>
							</p>
						</div>
						
						<form class="function-radio-list">
                            <p style="color:purple">Function: </p>							
                                    <label class="label-radio inline label-aggregate">
                                        <input id="aggr-count" type="radio" name="aggr-list-radio" value="count" checked="true">
                                        <span class="custom-radio"></span>
                                        <span>count</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-count_distinct" type="radio" name="aggr-list-radio" value="count_distinct">
                                        <span class="custom-radio"></span>
                                        <span>count_distinct</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-sum" type="radio" name="aggr-list-radio" value="sum">
                                        <span class="custom-radio"></span>
                                        <span>sum</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-avg" type="radio" name="aggr-list-radio" value="avg">
                                        <span class="custom-radio"></span>
                                        <span>avg</span>
                                    </label>
									<br/>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-max" type="radio" name="aggr-list-radio" value="max">
                                        <span class="custom-radio"></span>
                                        <span>max</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-min" type="radio" name="aggr-list-radio" value="min">
                                        <span class="custom-radio"></span>
                                        <span>min</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-sample" type="radio" name="aggr-list-radio" value="sample">
                                        <span class="custom-radio"></span>
                                        <span>sample</span>
                                    </label>
									<label class="label-radio inline label-aggregate">
                                        <input id="aggr-group_concat" type="radio" name="aggr-list-radio" value="group_concat">
                                        <span class="custom-radio"></span>
                                        <span>group_concat</span>
                                    </label>
		
                        </form> 
						
						<form>
                            <p style="color:purple">Give name to result: </p>
                            <input class="form-control" id="alias-name-aggr" type="text" placeholder="(e.g., A_count)" style="width:98%;display: inline-block;">
							<!-- <input type="text" id="alias-name-aggr"><br> -->
                        </form>
						  
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="cancel-add-aggregate" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-aggregate" type="button" class="btn btn-primary" data-dismiss="modal">Create Aggregation</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

</template>
