
<template name="AddLink">
<style>
    div.modal-body {
        overflow-y: auto;
        max-height: 60vh;      
    }
</style>

	<!-- Modal for new document -->
    <div id="add-link-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Link</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        
                        <div class="form-group">
                   
                            {{#each associations}}
                                <div class="col-lg-10 association" name="{{name}}" className="{{class}}" line_direct="{{type}}">
                                    <label class="label-radio">
                                        <input type="radio" name="stack-radio">
                                        <span class="custom-radio"></span>
                                        {{name}} {{type}} {{class}}
                                    </label>
                                </div>
                            {{/each}}

                        </div>

                        <!-- <div class="form-group">
                            <div class="col-sm-10">
        						<input id="fileList" type='file' multiple/>
                            </div>
                        </div> -->
                    </form> 
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-link" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->

</template>