
<template name="AddCondition">
<style>
    div.modal-body {
        overflow-y: auto;
        max-height: 60vh;
    }
</style>

	<!-- Modal for new document -->
    <div id="add-condition-form" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Condition</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                          <div class="form-group" style="margin-bottom:5px;margin-top:10px;">
				                        <label for="condition-expression" class="col-sm-2 control-label">Expression</label>
                                <div class="col-sm-10">
                                  <!-- <textarea id="condition-expression" type="text" class="form-control" style="overflow:auto; resize:none;" rows="3"></textarea> -->
                                  <input id="condition-expression" type="text" class="form-control" />
                                </div>
			              </div>
                          <span class="help-block">Use Ctrl+Space to activate auto-completion<br />
                            Use Arrow-Down / Arrow-Up to change the selection; click or use Tab to autocomplete</span>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-add-condition" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->


</template>
