<template name="AggregateWizard">
    <style>
        div.wizard-list {
            margin-top: 5px;
            margin-left: 20px;                        
        }

        p {
            font-size: 14px;
            font-weight: bold;
            padding-top: 5px;
            padding-bottom: : 0px;
            margin-bottom: 0px;
        }

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: -5px;
            border: 0;
            border-top: 1px solid #c9c7c7;
            width:95%
        }

        .wizard-list form, #field-name, #aggregate-wizard-function-list, #field-list {
            position: relative;             
            width:90%;
            border-radius:5px;
            font-size: 13px;
        }

        #results_least, #results-most{
            width: 95%;            
        }
		
		form {
		  margin-bottom: 10px;
		}
    </style>
    <!-- Modal for new document -->
    <div id="aggregate-wizard-form" class="modal fade" onload="getDefaultName()">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Aggregate wizard</h4>
                </div>
                <div class="modal-bodyFC">                
                    <div class="wizard-list">                       
                        <form class="function-radio-list">
                            <p>Functions: </p>
                            <!-- <select name="function-list" id="aggregate-wizard-function-list" style="width:100%"> -->
                                <!-- <option name="function-name" value="count" selected>count</option> -->
                                <!-- <option name="function-name" value="count_distinct">count_distinct</option> -->
                                <!-- <option name="function-name" value="sum">sum</option> -->
                                <!-- <option name="function-name" value="avg">avg</option> -->
                                <!-- <option name="function-name" value="max">max</option> -->
                                <!-- <option name="function-name" value="min">min</option> -->
                                <!-- <option name="function-name" value="sample">sample</option> -->
                                <!-- <option name="function-name" value="group_concat">group_concat</option> -->
                            <!-- </select>        -->
							
                                    <label class="label-radio">
                                        <input id="aggregate-count" type="radio" name="aggregate-list-radio" value="count" checked="true">
                                        <span class="custom-radio"></span>
                                        <span>count</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-count_distinct" type="radio" name="aggregate-list-radio" value="count_distinct">
                                        <span class="custom-radio"></span>
                                        <span>count_distinct</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-sum" type="radio" name="aggregate-list-radio" value="sum">
                                        <span class="custom-radio"></span>
                                        <span>sum</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-avg" type="radio" name="aggregate-list-radio" value="avg">
                                        <span class="custom-radio"></span>
                                        <span>avg</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-max" type="radio" name="aggregate-list-radio" value="max">
                                        <span class="custom-radio"></span>
                                        <span>max</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-min" type="radio" name="aggregate-list-radio" value="min">
                                        <span class="custom-radio"></span>
                                        <span>min</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-sample" type="radio" name="aggregate-list-radio" value="sample">
                                        <span class="custom-radio"></span>
                                        <span>sample</span>
                                    </label>
									<label class="label-radio">
                                        <input id="aggregate-group_concat" type="radio" name="aggregate-list-radio" value="group_concat">
                                        <span class="custom-radio"></span>
                                        <span>group_concat</span>
                                    </label>
		
                        </form>      
									
                        <form>
                            <p>Field (if applicable)</p>
                            <input type="text" name="field-list" id="field-list" style="width:100%" list="field-list-datalist">
							<datalist id="field-list-datalist" class="datalist">
							 {{#each attList}}
                                    <option name="field-name" input="{{attribute}}">{{attribute}}</option>
                                {{/each}}
							</datalist>
							<!-- <select name="field-list" id="field-list" style="width:100%"> -->
                                <!-- <option name="field-name" value="" selected></option> -->
                                <!-- {{#each attList}} -->
                                    <!-- <option name="field-name" value="{{attribute}}">{{attribute}}</option> -->
                                <!-- {{/each}} -->
                            <!-- </select> -->
                        </form>
					
						<form id="distinct-aggregate">
                            <input type="checkbox" id="distinct-aggregate-check-box">
                            <span class="custom-checkbox"></span>
                            <p style="display:inline;">Distinct</p>
                        </form>
						
                         <form>
                            <p>Result name (alias): </p>
                            <input type="text" id="alias-name" value="{{defaultAlias}}"><br>
                        </form>
						
						<form id="require-aggregate">
                            <input type="checkbox" id="require-aggregate-check-box">
                            <span class="custom-checkbox"></span>
                            <p style="display:inline;">Require Values</p>
                        </form>
                        
                        <hr>

                        <form style="display: {{showDisplay}};"> <!-- style="color: lightgrey !important;" -->
                            <input type="checkbox" id="display-results">
                            <span class="custom-checkbox"></span>
                            <p style="display:inline;">Display result </p>
                        </form>

                        <form style="display: {{showDisplay}};"> <!-- style="margin-top: 6px; margin-bottom: 6px; color: lightgrey !important;" -->
                            <label><p>Result at least (&gt;=): &emsp;</p> </label>
                            <input id="results_least" type="number" pattern="[0-9]" step="any" required>
                            <span class="validity"></span>  
                        </form>

                        <form style="display: {{showDisplay}};margin-bottom: 10px;"> <!-- style="color: lightgrey !important;" -->
                            <label><p>Result at most (&lt;=):&emsp;</p> </label>
                            <input id="results-most" type="number" pattern="[0-9]" step="any" required>
                            <span class="validity"></span>  
                        </form>                        
                    </div>
                </div>

                <div class="modal-footer">                    
                    <button id="cancel-aggregate-wizard" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-aggregate-wizard" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>