<template name="ConnectLength">
<style>
    input:invalid+span:after {
      content: 'X';
      padding-left: 5px;
      color: red;
    }

    input:valid+span:after {
      content: 'V';
      padding-left: 5px;
      color: green;
    }
</style>
    <!-- Modal for new document -->
    <div id="connect-length-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connect Classes</h4>
                </div>
                <div class="modal-body">
                    <label for="max_length">Maximum elements in connecting chain: </label>
                    <input id="max_length" type="number" min="0" pattern="[0-9]" value="1" required>
                    <span class="validity"></span>  
                </div>

                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-connect-length" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>


<template name="ConnectClasses">
<style>
    ul {
            list-style-type: circle;    
            padding-left: 40px;
            display: none;
        }
    input:valid+span:after {
      content: '';
      padding-left: 5px;
      color: green;
    }
</style>
	<!-- Modal for new document -->
    <div id="connect-classes-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connect Classes</h4>
                </div>
                <div class="modal-body">
                    <form id="radioList" class="form-horizontal" role="form">
                        <div class="form-group">
                            Please choose the chain:
                            {{#each connections}}
                                <div class="col-lg-10 connections" name="chain">
                                        <label class="label-radio">                                            
                                            <input type="radio" name="stack-radio" value="{{number}}">
                                            <span class="custom-radio"></span>
                                            {{text}}
                                        </label>
                                </div>
                            {{/each}}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-connect-classes" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>