<template name="ConnectLength">
<style>
    label {
        padding-right: 5px;
    }
    input:invalid+span.validity:after {
      content: 'X';
      padding-left: 5px;
      color: red;
    }

    input:valid+span.validity:after {
      content: 'V';
      padding-left: 5px;
      color: green;
    }
</style>
    <!-- Modal for new document -->
    <div id="connect-length-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connect Classes</h4>
                </div>
                <div class="modal-body">
                    <label for="max_length">Maximum elements in connecting chain: </label>
                    <input id="max_length" type="number" min="0" pattern="[0-9]" value="1" required>
                    <span class="validity"></span>  
                </div>

                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-connect-length" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>

<template name="FirstConnect">
    <!-- Modal for new document -->
    <div id="connect-first-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connect Classes</h4>
                </div>
                <div class="modal-bodyFC">
                      <form id="radioList" class="form-horizontal" role="form">
                        <div class="form-group">                
                            <p style="font-size:16px">Please choose the starting class:</p>
                            {{#each elements}}                                
                                <div class="col-lg-10 elements" name="chain">                                
                                    <label class="label-radio">                                            
                                        <input type="radio" id="fc-radio" value="{{id}}" style="font-size:14px">
                                        <span class="custom-radio"></span>
                                        {{name}}
                                    </label>
                                </div>
                            {{/each}} 
                        </div>
                    </form>
                </div>

                <div class="modal-footer">                    
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-first-length" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>


<template name="ConnectClasses">
<style>
    .form-group { 
        padding-left: 10px;
        font-size: 12;
    }

    .custom-radio{
        transform: scale(0.75);
    }

    .label-radio:hover input ~ .custom-radio{
        background-color: lightgrey;
    }
   
    p{
        margin: 0px 10px;       
    }

    div.modal-bodyCC {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 50vh;
        font-size: 12;
    }
</style>
	<!-- Modal for new document -->
    <div id="connect-classes-form" class="modal fade">
        
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Connect Classes</h4>
                </div>
                <div class="modal-bodyCC">
                    <form id="radioList" class="form-horizontal" role="form">
                        <div class="form-group">                
                            <p style="font-size:16px">Please choose the chain:</p>
                            {{#each connections}}                                
                                <div class="col-lg-10 connections" name="chain">                                
                                    <label class="label-radio">                                            
                                        <input type="radio" name="stack-radio" value="{{number}}" style="font-size:14px">
                                        <span class="custom-radio"></span>
                                        {{text}}
                                    </label>
                                </div>
                            {{/each}} 
                        </div>
                    </form>
                </div>
                <div class="modal-footer">                    
                    <button id="cancel-connect-classes" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="ok-connect-classes" type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div><!-- /.modal -->
</template>