
<template name="schemaTree">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
            <ol class="dd-list">

				{{#each classes}}
				{{> subTree}}
				{{/each}}

            </ol>
        </div><!-- dd -->
    </div>

</template>

<template name="subTree">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

       
        <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} >{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>


<template name="schemaTree2">
    <!-- Add form-->
    <div id="schema-tree" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content" style="overflow:auto;">
                <div class="modal-header">
                    <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Schema</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-group">

                        {{#each classes}}
                            <li class="list-group-item" >
                                {{localName}} {{fullName}}
                            </li>

                            <ul class="list-group" style="margin-left: 50px;">
                                {{#each attributes}}
                                    <li class="list-group-item">{{localName}}</li>
                                {{/each}}
                            </ul>

                        {{/each}}

                    </ul>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End of add form-->
</template>
