
<template name="schemaTree">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
			<input id="filter_text" type="text" class="form-control" placeholder="">
			<button id="filter" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>
			<label class="form-check-label">
				<input class="form-check-input" name = "dbo" id="dbo" value= "1" type="checkbox" checked="checked">
				<span class="custom-checkbox"></span>
				Only from dbo:
			</label>
			<label class="form-check-label">
				<input class="form-check-input" name = "yago" id="yago" value= "2" type="checkbox">
				<span class="custom-checkbox"></span>
				Exclude yago:
			</label>
            <ol class="dd-list">

				{{#each classes}}
				{{> subTree}}
				{{/each}}

            </ol>
        </div><!-- dd -->
    </div>

</template>

<template name="subTree">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

       
        <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} >{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>


<template name="schemaFilter">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
		                <div class="form-group">  
							<div class="form-group">
								<div class="col-sm-10">
									<label class="form-check-label">
									 <input class="form-check-input" name = "All" id="All" value= "0" type="checkbox" checked="checked">
									 <span class="custom-checkbox"></span>
									 All
								  </label>
								</div>
							</div>
                            {{#each ont}}
								<div class="form-group">
									<div class="col-sm-10">
										<label class="form-check-label">
										 <input class="form-check-input" name = "{{dprefix}}" id="{{dprefix}}" value={{id}} type="checkbox">
										 <span class="custom-checkbox"></span>
										 {{dprefix}}
									  </label>
									</div>
								</div>
                            {{/each}}
                        </div>
						
						
						<div class="form-group">
                            <label for="find_text" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <input id="find_text" type="text" class="form-control" placeholder="">
                            </div>
							<button id="filter" type="button" class="btn btn-primary" data-dismiss="modal">Find</button>
                        </div>
						
						 <div class="form-group">
                            <label for="classes" class="control-label col-sm-2">Classes</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="classes">
                                    {{#each classes}}
                                        <option id="{{_id}}" name={{name}}>{{fullName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

        </div><!-- dd -->
    </div>

</template>



<template name="schemaTree2">
    <!-- Add form-->
    <div id="schema-tree" class="modal fade">

        <div class="modal-dialog">
            <div class="modal-content" style="overflow:auto;">
                <div class="modal-header">
                    <button id="modalCloseButton" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Schema</h4>
                </div>
                <div class="modal-body">

                    <ul class="list-group">

                        {{#each classes}}
                            <li class="list-group-item" >
                                {{localName}} {{fullName}}
                            </li>

                            <ul class="list-group" style="margin-left: 50px;">
                                {{#each attributes}}
                                    <li class="list-group-item">{{localName}}</li>
                                {{/each}}
                            </ul>

                        {{/each}}

                    </ul>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- End of add form-->
</template>
