
<template name="schemaTree">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
			{{#if empty }}
				<button id="reload" type="button" class="btn btn-danger" data-dismiss="modal">Reload tree</button>
			{{else}}
			<input id="filter_text" type="text" class="form-control" autocomplete="off" value={{f1}} >
			<button id="filter" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>

			{{#each ns}}
				<label class="form-check-label">
					<input class="form-check-input" name = {{name}} index={{index}} type="checkbox" checked={{checked}}>
					<span class="custom-checkbox"></span>
					{{caption}}
				</label>
			{{/each}}

			<div class="describe">Double-click an item to start a query from it</div>
            <ol class="dd-list">

				{{#each classes}}
				{{> subTree}}
				{{/each}}

            </ol>
			{{/if}}
        </div><!-- dd -->
    </div>

</template>

<template name="subTree">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

         <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} >{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>

<template name="schemaFilter">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
			<div class="col-sm-12">
				<select class="form-control" id="propType" value={{pKind}}>
				  <option>All properties</option>
				  <option>Object properties</option>
				  <option>Data properties</option>
				</select>
			</div>
			<input id="filter_text2" type="text" class="form-control" autocomplete="off" value={{f2}} >
			<button id="filter2" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>
			<label class="form-check-label">
				<input class="form-check-input" name = "dbp" id="dbp" value= "2" type="checkbox" checked={{dbp}}>
				<span class="custom-checkbox"></span>
				Basic order
			</label>
			<div class="describe">Double-click an item to start a query from it</div>
            <ol class="dd-list">

				{{#each properties}}
				{{> subTreeP}}
				{{/each}}

            </ol>
        </div><!-- dd -->
    </div>

</template>

<template name="subTreeP">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

         <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} >{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>

<template name="schemaInstances">
    <div class="col-sm-12">
	{{#if showI }}
        <div class="dd" id="nestable">
			<div class="col-sm-12">
				<select class="form-control" id="class" >
					{{#each classes}}
						<option style="height:30px" {{selected}} value="{{name}}">{{name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="describe">For individuals in any other specific class start with class symbol, then fill the instance information</div>
			<input id="filter_text3" type="text" class="form-control" autocomplete="off" value={{f3}}>
			{{#if isBigClass  }}
				<div class="describe">Large class selected, results may come very slowly</div>
			{{/if}}
			<button id="filter3" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>
			<div class="describe">Double-click an item to start a query from it</div>
            <ol class="dd-list">
			{{#if isWD }}	
				{{#each instances}}
				{{> subSchemaInstancesWD}}
				{{/each}}
			{{else}}
				{{#each instances}}
				{{> subSchemaInstances}}
				{{/each}}			
			{{/if}}
            </ol>
        </div><!-- dd -->
	{{else}}
		<div class="describe">The values ​​of the individuals are not informative</div>
	{{/if}}
    </div>
</template>
<template name="subSchemaInstancesWD">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
        <div class="class-body dd-handle" data-toggle="tooltip" title={{description}} value={{localName}} style="height:45px" >{{localName}} <br> <div class="describe">{{description}}</div> </div>
    </li>

</template>

<template name="subSchemaInstances">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
        <div class="class-body dd-handle" value={{data_id}} >{{localName}} </div>
    </li>

</template>

<template name="schemaFilter_old">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
		                <div class="form-group">  
							<div class="form-group">
								<div class="col-sm-10">
									<label class="form-check-label">
									 <input class="form-check-input" name = "All" id="All" value= "0" type="checkbox" checked="checked">
									 <span class="custom-checkbox"></span>
									 All
								  </label>
								</div>
							</div>
                            {{#each ont}}
								<div class="form-group">
									<div class="col-sm-10">
										<label class="form-check-label">
										 <input class="form-check-input" name = "{{dprefix}}" id="{{dprefix}}" value={{id}} type="checkbox">
										 <span class="custom-checkbox"></span>
										 {{dprefix}}
									  </label>
									</div>
								</div>
                            {{/each}}
                        </div>
						
						
						<div class="form-group">
                            <label for="find_text" class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <input id="find_text" type="text" class="form-control" placeholder="">
                            </div>
							<button id="filter" type="button" class="btn btn-primary" data-dismiss="modal">Find</button>
                        </div>
						
						 <div class="form-group">
                            <label for="classes" class="control-label col-sm-2">Classes</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="classes">
                                    {{#each classes}}
                                        <option id="{{_id}}" name={{name}}>{{fullName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

        </div><!-- dd -->
    </div>

</template>


