
<template name="schemaTree">

    <div class="col-sm-12">

        <div class="dd" id="nestable">
			{{#if waiting}}
				<div class="describe">Waiting answer...</div>
			{{else}}
				{{#if needReload}}
					<button id="reload" type="button" class="btn btn-danger" data-dismiss="modal">Reload tree</button>
				{{else}}
					{{#if notEmpty}}
						<input id="filter_text" type="text" class="form-control" autocomplete="off" value={{f1}} >
						<button id="filter" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>

						{{#each ns}}
							<label class="form-check-label">
								<input class="form-check-input" name = {{name}} index={{index}} type="checkbox" checked={{checked}}>
								<span class="custom-checkbox"></span>
								{{caption}}
							</label>
						{{/each}}

						<div class="describe">Double-click an item to start a query from it</div>
						<ol class="dd-list">

							{{#each classes}}
								{{> subTree}}
							{{/each}}

						</ol>
					{{else}}
						<div class="describe">The project is missing DSS schema information</div>
					{{/if}}	
				{{/if}}
			{{/if}}	
        </div><!-- dd -->

    </div>

</template>

<template name="subTree">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

         <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} style="width: 100%; height: 100%">{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>

<template name="schemaFilter">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
			{{#if notEmpty}}
				<div class="col-sm-12">
					<select class="form-control" id="propType" value={{pKind}}>
					  <option>All properties</option>
					  <option>Object properties</option>
					  <option>Data properties</option>
					</select>
				</div>
				<input id="filter_text2" type="text" class="form-control" autocomplete="off" value={{f2}} >
				<button id="filter2" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>
				<label class="form-check-label">
					<input class="form-check-input" name = "dbp" id="dbp" value= "2" type="checkbox" checked={{dbp}}>
					<span class="custom-checkbox"></span>
					Basic order
				</label>
				<div class="describe">Double-click an item to start a query from it</div>
				<ol class="dd-list">

					{{#each properties}}
					{{> subTreeP}}
					{{/each}}

				</ol>
			{{/if}}
        </div><!-- dd -->
    </div>

</template>

<template name="subTreeP">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
	{{#if ch_count  }}
		<button class="toggle-tree-button expand" node-id="{{node_id}}"  type="button">Expand</button>
	{{/if}}	

         <!-- <button data-action="collapse" type="button" style="display: none;">Expand</button> -->
        <div class="class-body dd-handle" value={{data_id}} style="width: 100%; height: 100%">{{localName}} </div>

        <ol class="dd-list attributes-list" style="display: {{display}}; " >

            {{#each children}}
                {{> subTree}}
            {{/each}}

        </ol>
    </li>

</template>

<template name="schemaInstances">
    <div class="col-sm-12">
	{{#if showI }}
        <div class="dd" id="nestable">
			{{#if notEmpty}}
				{{#if isWD }}
				{{else}}
					<div class="col-sm-12">
						<select class="form-control" id="class" >
							{{#each classes}}
								<option style="height:30px" {{selected}} value="{{name}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="describe">For individuals in any other specific class start with class symbol, then fill the instance information</div>
				{{/if}}
				<input id="filter_text3" type="text" class="form-control" autocomplete="off" value={{f3}}>
				{{#if isBigClass  }}
					<div class="describe">Large class selected, results may come very slowly</div>
				{{/if}}
				<button id="filter3" type="button" class="btn btn-primary" data-dismiss="modal">Use filter</button>
				<div class="describe">Double-click an item to start a query from it</div>
				<ol class="dd-list">
				<!--{{#if isWD }} -->	
					{{#each instances}}
					{{> subSchemaInstancesWD}}
					{{/each}}
				<!--{{else}} 
					{{#each instances}}
					{{> subSchemaInstances}}
					{{/each}}			
				{{/if}}  -->
				</ol>
			{{/if}}	
        </div><!-- dd -->
	{{else}}
		<div class="describe">The values ​​of the individuals are not informative</div>
	{{/if}}
    </div>
</template>
<template name="subSchemaInstancesWD">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
        <div class="class-body dd-handle" data-toggle="tooltip" title={{description}} value={{localName}} style="width: 100%; height: 100%">{{localName}} <br> <div class="describe">{{description}}</div> </div>
    </li>

</template>

<template name="subSchemaInstances">
    <li class="dd-item class-item" data-id="{{localName}}" style="margin-left: 0px;"  >
        <div class="class-body dd-handle" value={{data_id}} style="width: 100%; height: 100%">{{localName}} </div>
    </li>

</template>


<template name="schemaExtra">

    <div class="col-sm-12">
        <div class="dd" id="nestable">
		<form class="form-horizontal" role="form">
			<div class="explain-form-group">
			   <span>DSS schema <b>{{info_schema}}</b> has {{classCountAll}} ({{classCountFiltered}} filtered ) classes.</span>
			</div>
			{{#if isBig }}
			{{else}}
			<div class="explain-form-group">
			   <span>Class list filters:</span>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<select class="form-control" id="classCount" {{filterDisabled}}>
							<option value=15 >15 classes in the diagram</option>
							<option value=30 selected>30 classes in the diagram</option>
							<option value=40 >40 classes in the diagram</option>
							<option value=50 >50 classes in the diagram</option>
						</select>
						<select class="form-control" id="nsFilter" {{filterDisabled}}>
							{{#each nsFilters}}
								<option style="height:30px" {{selected}} value="{{value}}">{{name}}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-sm-6">
						<select class="form-control" id="indCount" {{filterDisabled}}>
							  <option selected value=1 >Classes of all sizes</option>
							  <option value=10 >At least 10 individuals</option>
							  <option value=50 >At least 50 individuals</option>
							  <option value=100 >At least 100 individuals</option>
						</select>
						<select class="form-control" id="sortPar" >
							  <option selected value=1 >Sort by count</option>
							  <option value=2 >Sort by namespaces</option>
						</select>
					</div>
				</div>
			</div>
			<div class="explain-form-group">
			   <span>  </span>
			</div>		
			<div class="explain-form-group">
			   <span>Manual class list selection</span>
			   		<label class="form-check-label">
						<input class="form-check-input" id="manual" name="manual" index = 1 type="checkbox" >
						<span class="custom-checkbox"></span>
					</label>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group">
							<button id="removeSelected" type="button" class="btn btn-primary" {{manualDisabled}}>Remove selected (multi select)</button>
						</div>
						<div class="form-group">
							<button id="removeAll" type="button" class="btn btn-primary" {{manualDisabled}}>Remove all</button>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<button id="addSelected" type="button" class="btn btn-primary" {{manualDisabled}}>Add selected (multi select)</button>
						</div>
						<div class="form-group">
							<button id="addWithN" type="button" class="btn btn-primary" {{manualDisabled}}>Add one selected with neighbors</button>
						</div>
					</div>
				</div>
			</div>	
			<div class="explain-form-group">
			   <span>Class lists:</span>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<label>Selected classes ({{classCountSelected}})</label>
					</div>
					<div class="col-sm-6">
						<label>Rest classes ({{classCountRest}})</label>
					</div>
				</div>
			</div>	
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<select class="form-select" id="selectedClasses" size="20" multiple aria-label="multiple select 1">
							{{#each classes}}
								<option value="{{id}}" >{{display_name}}</option>
							{{/each}}
						</select>						
					</div>
					<div class="col-sm-6">
						<select class="form-select" id="restClasses" size="20" multiple aria-label="multiple select 2">
							{{#each restClasses}}
								<option value="{{id}}">{{display_name}}</option>
							{{/each}}
						</select>					
					</div>
				</div>
			</div>
			
			<div class="explain-form-group">
			   <span>  </span>
			</div>
			<div class="explain-form-group">
			   <span>Diagram parameters:</span>
			</div>
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-5">
						<div class="form-group">
							<button id="getProperties" type="button" class="btn btn-primary" data-dismiss="modal">Show all properties</button>
						</div>
						<div class="form-group">
							<button id="removeProperties" type="button" class="btn btn-primary" data-dismiss="modal">Remove selected properties</button>
						</div>
						<label> Make superclasses based on: </label>
						<select class="form-control" id="superclassType" >
							  <option selected value="1" >targets</option>
							  <option value="2" >sources and targets</option>
							  <option value="3" >object/data sources and targets</option>
							  <option value="0" >Without superclasses</option>
						</select>
						<label class="form-check-label">
							<input class="form-check-input" name = "dataClass" id="dataClass" value= "2" type="checkbox" checked={{dataClass}}>
							<span class="custom-checkbox"></span>
							Connect data classes
						</label>
					
					</div>
					<div class="col-sm-7">
						<select class="form-select" id="selectedProperties" size="13" multiple aria-label="multiple select 3">
							{{#each properties}}
								<option value="{{id}}">{{p_name}}</option>
							{{/each}}
						</select>					
					</div>
				</div>
			</div>				


			<div class="col-sm-3">
				<button id="makeDiagr" type="button" class="btn btn-primary" data-dismiss="modal">Save diagram data</button>
			</div>

			{{/if}}

		</form>

        </div><!-- dd -->
    </div>

</template>



