
<template name="notificationsT">
    <li id="nav-notifications" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-lg"></i>
            {{> newNotificationsCountT}}
        </a>
        {{> notificationsDropDownT}}
    </li>
</template>

<template name="notificationsDropDownT">
        <ul class="dropdown-menu notification dropdown-3 notification-dropdown">
            <li>
                <a>{{_ "you_have_new_notifications_count" count=notificationsCount context=notificationsCount}}</a>
            </li>

            {{#each notifications}}
                <li>
                    {{#if version}}
                        <a class="clearfix notification version" href="{{pathFor 'archive'}}" id="{{_id}}">
                            <div class="detail">

                            {{#if new}}
                                {{> new_version}}
                            {{/if}}

                            {{#if delete}}
                                {{> delete_version}}
                            {{/if}}

                            {{#if publish}}
                                {{> publish_version}}
                            {{/if}}        

                            </div>
                        </a>    
                    {{else}}
                        <a class="clearfix notification" href="#" projectId="{{projectId}}" id="{{_id}}" role="{{data.role}}">

                        {{#if invited}}
                            <div class="detail">
                                {{> user_invited}}
                            </div>
                            
                            {{#unless confirmed}}
                                {{> user_confirm_buttons}}
                            {{/unless}}
                            
                        {{/if}}

                        {{#if changed}}
                            <div class="detail">
                                {{> user_changed}}
                            </div>
                        {{/if}}

                        {{#if removed}}
                            <div class="detail">
                                {{> user_removed}}
                            </div>
                        {{/if}}

                        {{#if rejected}}
                            <div class="detail">
                                {{> user_rejected}}
                            </div>
                        {{/if}}

                        {{#if confirmed}}
                            <div class="detail">
                                {{> user_confirmed}}
                            </div>
                        {{/if}}

                        </a>
                    {{/if}}
                </li>
            {{/each}}

            <li>
                <a href="{{pathFor 'profile'}}">{{_ "view_all_notifications"}}</a>
            </li>
        </ul>
</template>

<template name="newNotificationsCountT">
    {{#if newNotificationsCount}}
        <span class="notification-label bounceIn animation-delay6">{{newNotificationsCount}}</span>
    {{/if}}
</template>

<template name="userNotifications">

    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <span class="pull-left">
                {{_ "notifications"}}
            </span>
            <span class="label label-info pull-right">{{_ "notifications_small" count=total_notifications context=total_notifications}}</span>
        </div>
        <div class="panel-body no-padding collapse in">
            <ul class="list-group task-list no-margin collapse in">

                {{#each notifications}}
                    <li class="list-group-item clearfix notification" id="{{_id}}" projectId="{{projectId}}" >
                        {{#if version}}

                            <div class="pull-left m-left-sm">
                                {{#if new}}
                                    {{> new_version}}
                                {{/if}}

                                {{#if delete}}
                                    {{> delete_version}}
                                {{/if}}

                                {{#if publish}}
                                    {{> publish_version}}
                                {{/if}}
                            </div>

                            <span class="pull-right">
                                <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                            </span>

                        {{else}}
                            {{#if invited}}
                                <div class="pull-left m-left-sm">
                                    {{> user_invited}}
                                </div>

                                {{#if confirmed}}
                                    <span class="pull-right">
                                        <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                                    </span>
                                {{else}}
                                    {{> user_confirm_buttons}}
                                {{/if}}
                            {{/if}}

                            {{#if changed}}
                                <div class="pull-left m-left-sm">
                                    {{> user_changed}}
                                </div>
                                <span class="pull-right">
                                    <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                                </span>
                            {{/if}}

                            {{#if removed}}
                                <div class="pull-left m-left-sm">
                                    {{> user_removed}}
                                </div>
                                <span class="pull-right">
                                    <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                                </span>
                            {{/if}}

                            {{#if rejected}}
                                <div class="pull-left m-left-sm">
                                    {{> user_rejected}}
                                </div>
                                <span class="pull-right">
                                    <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                                </span>
                            {{/if}}

                            {{#if confirmed}}
                                <div class="pull-left m-left-sm">
                                    {{> user_confirmed}}
                                </div>
                                <span class="pull-right">
                                    <a id="{{_id}}" href="#" class="notification-delete"><i class="fa fa-trash-o fa-lg text-danger"></i></a>
                                </span>
                            {{/if}}

                        {{/if}}
                    </li>
                {{/each}}
            </ul><!-- /list-group -->
        </div>
    </div>

</template>

<template name="user_removed">
    {{{_ "notifications_user_removed" project=projectName remover=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>    
</template>

<template name="user_rejected">
    {{{_ "notifications_user_rejected" project=projectName person=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="user_confirmed">
    {{{_ "notifications_user_confirmed" project=projectName person=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="user_changed">
    {{{_ "notifications_user_changed" project=projectName person=sendedBy context=data.role}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="new_version">
    {{{_ "notifications_new_version" version=data.versionId project=projectName person=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="delete_version">
    {{{_ "notifications_delete_version" version=data.versionId project=projectName person=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="publish_version">
    {{{_ "notifications_publish_version" version=data.versionId project=projectName person=sendedBy}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="user_invited">
    {{{_ "notifications_user_invited" project=projectName inviter=sendedBy context=data.role}}}
    <small class="text-muted"><i class="fa fa-clock-o"></i> {{_ "time_since" number=time.number context=time.time}}</small>
</template>

<template name="user_confirm_buttons">
    <span class="m-left-xs pull-right">
        <button class="btn btn-xs btn-success projectAccept" type="button">{{_ "accept"}}</button>
        <button class="btn btn-xs btn-danger projectDecline" type="button">{{_ "reject"}}</button>
    </span>
</template>