

<template name="resetPasswordTemplate">

	<div class="login-wrapper" style="-webkit-animation: none !important;">
		<div class="text-center">
	    </div>
		<div class="login-widget">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-lock fa-lg"></i> Reset password
				</div>
				<div class="panel-body">
					<form class="form-login">

						<div class="form-group">
							<label>Password</label>
							<input id="password" type="password" placeholder='{{_ "login_password"}}' class="form-control input-sm">

							{{#if password_error}}
								<ul class="parsley-error-list" style="display: block;">
									<li style="display: list-item;">{{password_error}}</li>
								</ul>
							{{/if}}

						</div><!-- /form-group -->

						<div class="form-group">
							<label>Confirm password</label>
							<input id="confirmPassword" type="password" placeholder='{{_ "sign_up_confirm_password"}}' class="form-control input-sm">

							{{#if confirmed_password_error}}
								<ul class="parsley-error-list" style="display: block;">
									<li style="display: list-item;">{{confirmed_password_error}}</li>
								</ul>
							{{/if}}

						</div><!-- /form-group -->
						
						<hr/>
						<div class="form-group">
							<div id="reset" class="controls text-right">
								<button class="btn btn-success btn-sm login-link {{button_enabled}}" href="{{pathFor 'index'}}"><i class="fa fa-plus-circle"></i> {{_ "OK"}}</button>
							</div>
						</div><!-- /form-group -->
					</form>
				</div>
			</div><!-- /panel -->
		</div><!-- /login-widget -->
	</div><!-- /login-wrapper -->

</template>
